// 功能 Ins 关注设置详情界面
.row.unselectable(ng-controller='FuncsCtrl')
  .col-md-12
    .widget-container.fluid-height.stf-device-list-tabs
      .widget-content.padded
        div
          button.btn.btn-primary(ng-click='back()') 返回
          span 设备标注:{{deviceName}}===账号名称:{{account}}

        uib-tabset.overflow-auto
          uib-tab(active='activeTabs.autoFollow')
            uib-tab-heading
              i.fa.fa-lg.color-blue
              span 自动关注
            div(ng-if='activeTabs.autoFollow')
              auto-follow

          uib-tab(active='activeTabs.autoUnfollow')
            uib-tab-heading
              i.fa.fa-lg.color-red
              span 自动取关
            div(ng-if='activeTabs.autoUnfollow')
              auto-un-follow

          uib-tab(active='activeTabs.autoThumb')
            uib-tab-heading
              i.fa.fa-lg.color-green
              span 自动点赞
            div(ng-if='activeTabs.autoThumb')
              auto-thumb

          uib-tab(active='activeTabs.autoComment')
            uib-tab-heading
              i.fa.fa-lg.color-black
              span 自动评论
            div(ng-if='activeTabs.autoComment')
              auto-comment

          uib-tab(active='activeTabs.autoMessage')
            uib-tab-heading
              i.fa.fa-lg.color-green
              span 自动私信
            div(ng-if='activeTabs.autoMessage')
              auto-message

          uib-tab(active='activeTabs.autoPost')
            uib-tab-heading
              i.fa.fa-lg.color-black
              span 自动发帖
            div(ng-if='activeTabs.autoPost')
              auto-post

          //uib-tab(active='activeTabs.autoPost')
          //  uib-tab-heading
          //    i.fa.fa-lg.color-black
          //    span 热身模式
          //  div(ng-if='activeTabs.autoPost')
          //    auto-post




