.unselectable
  .col-md-12
    .widget-container.fluid-height
      .while-list-content
        form.form
          .form-group
            label.topTxt 取关资源库开启状态
            input(bs-switch, type='checkbox', ng-if='status', ng-model='$parent.resListStatus', ng-change='changeSwitch()')
            textarea.form-control.textarea.inputTxt(ng-model='resListStr')
            button.btn.btn-primary.belowBtn(ng-click='addResList()') 添加
        .pull-left
          .form-inline
            .form-group
              input.form-control(placeholder='输入要搜索的资源名称', ng-model='search')
              button.btn.btn-primary.rightBtn(ng-click='searchList()') 搜索
        .pull-right
          button.btn.btn-primary.m-b-0(ng-click='clearUnfollowRes()') 清空资源库
        table.table.table-hover.dataTable.ng-table
          thead
            tr
              th.header
                div 状态
              th.header
                div 名称
              th.header
                div 添加时间
              th.header
                div 操作
          tbody
            tr(ng-repeat='(index, item) in list')
              td
                div
                  input(bs-switch, type='checkbox', switch-size='small', switch-on-text='开',switch-off-text='关',
                    ng-model='item.status', ng-true-value="1", ng-false-value="0", ng-change="resSwitchChange(index)")
              td
                div {{item.title}}
              td
                div {{item.created}}
              td
                button.btn(ng-click='del(index)') 删除
        nothing-to-show(message='暂无数据', ng-show='!list.length')
        ul.pager(ng-show='list.length')
          li
            button.btn.btn-link(ng-disabled='page <= 1', ng-click='prev()') 上一页
          li
            select(ng-model='page', ng-change='getList()')
              option(ng-repeat='i in range(totalPage)', ng-value='i + 1') {{i + 1}}
          li
            button.btn.btn-link(ng-disabled='page >= totalPage', ng-click='next()') 下一页

        //table.table.table-hover.dataTable.ng-table
        //  thead
        //    tr
        //      th.header
        //        div 名称
        //      th.header(style='width: 100px;')
        //        div 操作
        //  tbody
        //    tr(ng-repeat='(index, item) in list')
        //      td
        //        div {{item}}
        //      td
        //        button.btn(ng-click='del(index)') 删除
        //nothing-to-show(message='暂无数据', ng-show='!list.length')


