.unselectable
  .col-md-12
    .widget-container.fluid-height.stf-device-list-tabs
      .widget-content.padded
        uib-tabset.overflow-auto
          uib-tabset.overflow-auto
            uib-tab(active='activeTabs.setting')
              uib-tab-heading
                i.fa.fa-lg.color-blue
                span 功能设置
              div(ng-if='activeTabs.setting')
                message-setting

            uib-tab(active='activeTabs.asset')
              uib-tab-heading
                i.fa.fa-lg.color-blue
                span 资源设置
              div(ng-if='activeTabs.asset')
                resource-setting

            uib-tab(active='activeTabs.logs')
              uib-tab-heading
                i.fa.fa-lg.color-blue
                span 日志
              div(ng-if='activeTabs.logs')
                func-logs(type='5')
