// 常用应用
.widget-container.fluid-height.stf-apps(ng-controller='AppsCtrl')
  .heading
    stacked-icon(icon='fa-th-large', color='color-lila')
    span(translate) 程序

    button.btn.btn-primary-outline.icon-app.pull-right(ng-click='openQq()')
      i.fa.fa-qq.fa-lg.color-red
      .icon-title {{"QQ" | translate}}

    button.btn.btn-primary-outline.icon-app.pull-right(ng-click='openXigua()')
      i.fa.fa-firefox.fa-lg.color-orange
      .icon-title {{"西瓜视频" | translate}}

    button.btn.btn-primary-outline.icon-app.pull-right(ng-click='openWeibo()')
      i.fa.fa-weibo.fa-lg.color-yellow
      .icon-title {{"微博" | translate}}

    button.btn.btn-primary-outline.icon-app.pull-right(ng-click='openDouyin()')
      i.fa.fa-music.fa-lg.color-black
      .icon-title {{"抖音" | translate}}

    button.btn.btn-primary-outline.icon-app.pull-right(ng-click='openWechat()')
      i.fa.fa-wechat.fa-lg.color-green
      .icon-title {{"微信" | translate}}

    button.btn.btn-primary-outline.icon-app.pull-right(ng-click='openSSR()')
      i.fa.fa-safari.fa-lg.color-blue
      .icon-title {{"SSR" | translate}}

    button.btn.btn-primary-outline.icon-app.pull-right(ng-click='openIns()')
      i.fa.fa-instagram.fa-lg.color-pink
      .icon-title {{"Instagram" | translate}}

  //系统应用
  .widget-content.padded

    button.btn.btn-primary-outline.icon-app.pull-right(ng-click='openDisplay()').color-pink
      i.fa.fa-shopping-cart.fa-lg.color-blue
      .icon-title {{"显示设置" | translate}}

    button.btn.btn-primary-outline.icon-app.pull-right(ng-click='openManageApps()')
      i.fa.fa-list.fa-lg.color-orange
      .icon-title {{"管理App" | translate}}

    //button.btn.btn-primary-outline.icon-app.pull-right(ng-click='openDeveloperSettings()')
    //  i.fa.fa-sliders.fa-lg.color-darkgreen
    //  .icon-title {{"开发者选项" | translate}}

    button.btn.btn-primary-outline.icon-app.pull-right(ng-click='openSettings()')
      i.fa.fa-gear.fa-lg.color-darkgray
      .icon-title {{"系统设置" | translate}}

    button.btn.btn-primary-outline.icon-app.pull-right(ng-click='openWiFiSettings()')
      i.fa.fa-wifi.fa-lg.color-skyblue
      .icon-title {{"设置Wifi" | translate}}

    //button.btn.btn-primary-outline.icon-app.pull-right(ng-click='openAbout()')
    //  i.fa.fa-expand.fa-lg.color-green
    //  .icon-title {{"关于手机" | translate}}

    button.btn.btn-primary-outline.icon-app.pull-right(ng-click='openInput()')
      i.fa.fa-cloud.fa-lg.color-darkgray
      .icon-title {{"输入法设置" | translate}}

    .clearfix
