// 功能 Ins 热身模式设置详情界面
.unselectable
  .col-md-12(ng-if='status')
    .widget-container.fluid-height
      nothing-to-show(message='{{error}}', icon='fa-sitemap', ng-show='error')
      .content(ng-if='insAccount.account')
        label [热身模式配置]
      form.form
        .form-group
          label 开启状态
          input(bs-switch, type='checkbox', switch-size='small', switch-on-text='开启',
            switch-off-text='关闭',, ng-model='insAccount.config.browse.status',
            ng-false-value="0", ng-true-value="1", ng-change="switchChange()")
        .form-group
          label.checkbox
            input(type='checkbox', ng-model='insAccount.config.browse.checkSsr')
            span 检查SSR
        .form-group
          label.checkbox-inline
            input(type='checkbox', ng-model='insAccount.config.browse.startInfo.status')
            span 设置分身名称:
            input.form-control.name-input(type='text', ng-model='insAccount.config.browse.startInfo.startName')
        .form-group
          span 设置执行功能时间段:
            input.form-control.sort-input.time-start(ng-model='insAccount.config.browse.excute.start', datetimepicker, datetimepicker-options='{format: "HH:mm"}')
            span 到
            input.form-control.sort-input.time-end(ng-model='insAccount.config.browse.excute.end', datetimepicker, datetimepicker-options='{format: "HH:mm"}')
            span.color-blue Tips:执行功能的时间段
        .form-group
          span 设置操作日期:
          label.checkbox-inline(ng-repeat='(key, day) in weekday')
            input(type='checkbox', ng-model='selectedWeek[key]', name='weekday', ng-value='{{day.value}}')
            span {{day.title}}
        .form-group
          span 操作间隔设置:
            input.form-control.sort-input(type='number', ng-model='insAccount.config.browse.minDelay')
            span 到
            input.form-control.sort-input(type='number', ng-model='insAccount.config.browse.maxDelay')
            span.color-blue (单位:秒)Tips:操作每个用户的间隔时间(范围取随机值)
        //保存当前页面设置的按钮
        button.btn.btn-primary(ng-click='save()') 保存当前配置





