//控制Tab下的布局
div(ng-controller='ControlPanesHotKeysCtrl').fill-height
  div(ng-if='$root.basicMode || $root.standalone').fill-height
    div.fill-height.basic-remote-control
      .remote-control
        div(ng-include='"control-panes/device-control/device-control-standalone.pug"').fill-height

  div(ng-if='!$root.basicMode && !$root.standalone')
    //左边手机画面
    div(fa-pane, pane-id='control-device', pane-anchor='west', pane-size='{{remotePaneSize}}', pane-min='200px', pane-max='100% + 2px', pane-handle='4', pane-no-toggle='false')
      .remote-control
        div(ng-include='"control-panes/device-control/device-control.pug"').fill-height
    //右上方功能栏
    div(fa-pane, pane-id='control-top-tabs', pane-anchor='')
      .control-choice.bg-white.allControl
        span.choiceTxt.color-red.leftText 群控
        input(bs-switch, type='checkbox', switch-size='mini', ng-model='allStatus', ng-change="getAllDevice()")
      .widget-container.fluid-height
        nice-tabs(key='ControlBottomTabs', tabs='topTabs', filter='$root.platform')

