// 功能 Ins 点赞设置详情界面
.unselectable
  .col-md-12(ng-if='status')
    .widget-container.fluid-height
      nothing-to-show(message='{{error}}', icon='fa-sitemap', ng-show='error')
      .content(ng-if='insAccount.account')
        label [点赞配置清单]
      form.form(ng-if='!error')
        .form-group
          label 开启状态
          input(bs-switch, type='checkbox', switch-size='small', switch-on-text='开启',
          switch-off-text='关闭', ng-model='insAccount.config.thumb.status', ng-true-value="1",
          ng-false-value="0", ng-change="switchChange()")
        .form-group
          label.checkbox
            input(type='checkbox', ng-model='insAccount.config.thumb.isTest')
            span 开启测试模式
        .form-group
          label.checkbox
            input(type='checkbox', ng-model='insAccount.config.thumb.isLock')
            span能执行完锁屏
              .form-group
                label.checkbox-inline
                  input(type='checkbox', ng-model='insAccount.config.thumb.closeBack')
                  span 设置功能执行完后台操作
                    select(ng-model='insAccount.config.thumb.closeBackStatus',
                    ng-options='x.val as x.name for x in [{val:1,name:"关闭ins"}, {val:2,name:"关闭全部后台"}]')
              .form-group
                label.checkbox
                  input(type='checkbox', ng-model='insAccount.config.thumb.checkSsr')
                  span 检查SSR
              .form-group 功
          label.checkbox-inline
            input(type='checkbox', ng-model='insAccount.config.thumb.startInfo.status')
            span 设置分身名称:
            input.form-control.name-input(type='text', ng-model='insAccount.config.thumb.startInfo.startName')
        .form-group
          span 对资源操作间隔设置:
          input.form-control.sort-input(type='number', ng-model='insAccount.config.thumb.minWait')
          span 到
          input.form-control.sort-input(type='number', ng-model='insAccount.config.thumb.maxWait')
          span 单位:分钟
          span.color-blue Tips:对每个资源的操作间隔(范围取随机值 单位:分钟)
        .form-group
          span 对每组资源点赞人数设置:
          input.form-control.sort-input(type='number', ng-model='insAccount.config.thumb.minPerson')
          span 到
          input.form-control.sort-input(type='number', ng-model='insAccount.config.thumb.maxPerson')
          span (单位:个)..   对每组资源点赞人数设置:
          input.form-control.sort-input(type='number', ng-model='insAccount.config.thumb.minDelay')
          span 到
          input.form-control.sort-input(type='number', ng-model='insAccount.config.thumb.maxDelay')
          span 单位:秒
          span.color-blue Tips:每次点赞人数的区间范围(范围取随机值  单位:个 单位:秒)
        .form-group
          span 对每天点赞总数上限设置: 每天点赞
          input.form-control.sort-input(type='number', ng-model='insAccount.config.thumb.minDay')
          span 到
          input.form-control.sort-input(type='number', ng-model='insAccount.config.thumb.maxDay')
          span (单位:个)..   每天增加
          input.form-control.sort-input(type='number', ng-model='insAccount.config.thumb.addDay')
          span (单位:个)..   直到每天最多达到
          input.form-control.sort-input(type='number', ng-model='insAccount.config.thumb.topDay')
          span (单位:个)..
          span.color-blue Tips:用来限制每天点赞的总数(范围取随机值  单位:个 单位:个 单位:个)
        .form-group
          span 当上面的选项中每天达到最多后 则按:
          input.form-control.sort-input(type='number', ng-model='insAccount.config.thumb.fullMinDay')
          span 到
          input.form-control.sort-input(type='number', ng-model='insAccount.config.thumb.fullMaxDay')
          span 随机范围执行功能(单位:个)
        .form-group
          span 设置执行功能时间段:
          input.form-control.sort-input.time-start(ng-model='insAccount.config.thumb.excute.start', datetimepicker, datetimepicker-options='{format: "HH:mm"}')
          span 到
          input.form-control.sort-input.time-end(ng-model='insAccount.config.thumb.excute.end', datetimepicker, datetimepicker-options='{format: "HH:mm"}')
          span.color-blue Tips:执行功能的时间段
        .form-group
          span 设置执行功能时间段:
          input.form-control.sort-input.time-start(ng-model='insAccount.config.thumb.excute2.start', datetimepicker, datetimepicker-options='{format: "HH:mm"}')
          span 到
          input.form-control.sort-input.time-end(ng-model='insAccount.config.thumb.excute2.end', datetimepicker, datetimepicker-options='{format: "HH:mm"}')
          span.color-blue Tips:执行功能的时间段
        .form-group
          span 设置执行功能时间段:
          input.form-control.sort-input.time-start(ng-model='insAccount.config.thumb.excute3.start', datetimepicker, datetimepicker-options='{format: "HH:mm"}')
          span 到
          input.form-control.sort-input.time-end(ng-model='insAccount.config.thumb.excute3.end', datetimepicker, datetimepicker-options='{format: "HH:mm"}')
          span.color-blue Tips:执行功能的时间段
          //多个checkbox不会写
        .form-group
          span 设置操作日期:
          label.checkbox-inline(ng-repeat='(key, day) in weekday')
            input(type='checkbox', ng-model='selectedWeek[key]', name='weekday', ng-value='{{day.value}}')
            span {{day.title}}

        .content
          label *********筛选配置*********
        .form-group
          label.checkbox
            input(type='checkbox', ng-model='insAccount.config.thumb.skipNoNear')
            span 只操作最近发布动态的用户(带有小圈圈)
        .form-group
          label.checkbox
            input(type='checkbox', ng-model='insAccount.config.thumb.skipSecretAccount')
            span 跳过私密用户(全局设置)
        .form-group
          label.checkbox
            input(type='checkbox', ng-model='insAccount.config.thumb.hasProfile')
            span 跳过没有个人简介的用户
        .form-group
          label.checkbox
            input(type='checkbox', ng-model='insAccount.config.thumb.skipFollowers')
            span 跳过已点赞用户
        .form-group
          label.checkbox
            input(type='checkbox', ng-model='insAccount.config.thumb.skipBussiness')
            span 跳过有商业标签的用户
        .form-group
          label.checkbox
            input(type='checkbox', ng-model='insAccount.config.thumb.skipWebsite')
            span 跳过有网站资料的用户
        .form-group
          label.checkbox-inline
            input(type='checkbox', ng-model='insAccount.config.thumb.postStatus')
            span 用户拥有发帖数量范围:
            input.form-control.sort-input(type='number', ng-model='insAccount.config.thumb.minPost')
            span 到
            input.form-control.sort-input(type='number', ng-model='insAccount.config.thumb.maxPost')
        .form-group
          label.checkbox-inline
            input(type='checkbox', ng-model='insAccount.config.thumb.followerStatus')
            span 用户拥有粉丝范围:
            input.form-control.sort-input(type='number', ng-model='insAccount.config.thumb.minFollowers')
            span 到
            input.form-control.sort-input(type='number', ng-model='insAccount.config.thumb.maxFollowers')
        .form-group
          label.checkbox-inline
            input(type='checkbox', ng-model='insAccount.config.thumb.followingStatus')
            span 用户拥有关注范围:
            input.form-control.sort-input(type='number', ng-model='insAccount.config.thumb.minFollowing')
            span 到
            input.form-control.sort-input(type='number', ng-model='insAccount.config.thumb.maxFollowing')
            span.color-blue Tips:设置一个范围值 需要当前用户的关注数量达到这个范围值
        .form-group
          label.checkbox-inline
            input(type='checkbox', ng-model='insAccount.config.thumb.postTimeStatus')
            span 对用户帖子发布时间筛选: 筛选用户的前
            //input.form-control.sort-input(type='number', ng-model='insAccount.config.thumb.postTimeBefore')
            //span 条(最大值12)帖子是否有:
            input.form-control.sort-input(type='number', ng-model='insAccount.config.thumb.postTimeDay')
            span 天(单位:天)以内的帖子
        .form-group
          label.checkbox-inline
            input(type='checkbox', ng-model='insAccount.config.thumb.postCommentStatus')
            span 对用户帖子评论数量筛选: 筛选用户的前
            input.form-control.sort-input(type='number', ng-model='insAccount.config.thumb.postCommentBefore')
            span 条(最大值12)帖子评论数量是否在:
            input.form-control.sort-input(type='number', ng-model='insAccount.config.thumb.postCommentMinDay')
            span (最小值)到
            input.form-control.sort-input(type='number', ng-model='insAccount.config.thumb.postCommentMaxDay')
            span (最大值)(单位:条)范围内
        .form-group
          label.checkbox-inline
            input(type='checkbox', ng-model='insAccount.config.thumb.lanStatus')
            span 对用户语言类型的筛选
              select(ng-model='insAccount.config.thumb.language',
              ng-options='x.val as x.name for x in [{val:1,name:"中文"},{val:2,name:"英文"}, {val:3,name:"中文+英文"}]')
        .form-group
          label.checkbox
            input(type='checkbox', ng-model='insAccount.config.thumb.followingWords.status')
            span 词汇黑名单过滤:
            textarea.form-control.textarea(ng-model='insAccount.config.thumb.followingWords.words')
          span.color-blue Tips:当用户的个人资料中含有以下黑名单词汇时则过滤(每个词汇之间用换行隔开)
          //保存当前页面设置的按钮
        button.btn.btn-primary(ng-click='save()') 保存当前配置
        //button.btn.btn-primary(ng-click='run()') 立即运行
