.ins-container
  button.btn.btn-primary.pull-right(ng-click='createIns()') 新增ins账号
  table.table.table-hover.dataTable.ng-table
    thead
      tr
        th.header 型号
        th.header 账号
        th.header 关注
        th.header 取关
      tbody
        tr(ng-repeat='(index, item) in colums')
          td {{item.model}}
          td {{item.account}}
          td
            input(bs-switch, type='checkbox', switch-size='small', switch-on-text='{{switchOnText}}', switch-off-text='{{switchOffText}}', ng-model='item.config.follow.status', ng-true-value="1", ng-false-value="0", ng-change="switchChange(index, 'follow')")
            div 0/0关注
            a(href='/#!/func-follow/{{item.account}}') 详情
          td
            input(bs-switch, type='checkbox', switch-size='small', switch-on-text='{{switchOnText}}', switch-off-text='{{switchOffText}}', ng-model='item.config.unfollow.status' ng-true-value="1", ng-false-value="0", ng-change="switchChange(index, 'unfollow')")
            div 0/0取关
            a(href='/#!/func-unfollow/{{item.account}}') 详情

nothing-to-show(message='暂无账号', icon='fa-sitemap', ng-show='empty')
