.ins-container
  button.btn.btn-primary.pull-right(ng-click='createIns()') 新增ins账号
  table.table
    thead
      tr
        th.header 型号
        th.header 账号
        th.header 关注
        th.header 取关
        th.header 点赞
        th.header 评论
        th.header 私信
        th.header 发帖
        th.header 操作
    tbody
      tr(ng-repeat='(index, item) in colums')
        td
          select.form-control.ins-short-input(ng-model='item.serial', ng-change='changeDevice(index)')
            option(ng-repeat='device in devices', value='{{device.serial}}') {{device.notes || device.serial}}
        td {{item.account}}
        td
          input(bs-switch, type='checkbox', switch-size='small', switch-on-text='{{switchOnText}}', switch-off-text='{{switchOffText}}', ng-model='item.config.follow.status', ng-true-value="1", ng-false-value="0", ng-change="switchChange(index, 'follow')")
          div {{item.todayFollow}}/{{item.totalFollow}}关注
          //a(href='/#!/func-follow/{{item.account}}') 详情
          a(href='/#!/funcs/{{item.account}}/autoFollow') 详情
        td
          input(bs-switch, type='checkbox', switch-size='small', switch-on-text='{{switchOnText}}', switch-off-text='{{switchOffText}}', ng-model='item.config.unfollow.status' ng-true-value="1", ng-false-value="0", ng-change="switchChange(index, 'unfollow')")
          div {{item.todayUnfollow}}/{{item.totalUnfollow}}取关
          a(href='/#!/funcs/{{item.account}}/autoUnfollow') 详情
        td
          input(bs-switch, type='checkbox', switch-size='small', switch-on-text='{{switchOnText}}', switch-off-text='{{switchOffText}}', ng-model='item.config.thumb.status' ng-true-value="1", ng-false-value="0", ng-change="switchChange(index, 'thumb')")
          div {{item.todayThumb}}/{{item.totalThumb}}点赞
          a(href='/#!/funcs/{{item.account}}/autoThumb') 详情
        td
          input(bs-switch, type='checkbox', switch-size='small', switch-on-text='{{switchOnText}}', switch-off-text='{{switchOffText}}', ng-model='item.config.comment.status' ng-true-value="1", ng-false-value="0", ng-change="switchChange(index, 'comment')")
          div {{item.todayComment}}/{{item.totalComment}}评论
          a(href='/#!/funcs/{{item.account}}/autoComment/{{item.serial}}') 详情
        td
          input(bs-switch, type='checkbox', switch-size='small', switch-on-text='{{switchOnText}}', switch-off-text='{{switchOffText}}', ng-model='item.config.message.status' ng-true-value="1", ng-false-value="0", ng-change="switchChange(index, 'message')")
          div {{item.todayMessage}}/{{item.totalMessage}}私信
          a(href='/#!/funcs/{{item.account}}/autoMessage/{{item.serial}}') 详情
        td
          input(bs-switch, type='checkbox', switch-size='small', switch-on-text='{{switchOnText}}', switch-off-text='{{switchOffText}}', ng-model='item.config.post.status' ng-true-value="1", ng-false-value="0", ng-change="switchChange(index, 'post')")
          div 0/0发帖
          a(href='/#!/funcs/{{item.account}}/autoPost/{{item.serial}}') 详情
        td
          button.btn.btn-link(ng-click='delAccount(index)') 删除

nothing-to-show(message='暂无账号', icon='fa-sitemap', ng-show='colums.length === 0')
