.ins-container {
  padding-top: 10px;
}

.ins-short-input {
  width: 100px;
  display: inline-block;
}

.table {
  border-collapse: collapse;
  table-layout: fixed;
}

.ins-loading {
  padding: 200px 0;
  text-align: center;
}

.ins-loading img {
  width: 30px;
}
