.widget-container.fluid-height(ng-controller='LocalSettingsCtrl')
  .heading
    i.fa.fa-save
    span(translate) 本地设置
  .widget-content.padded
    button(ng-click='resetSettings()').btn.btn-danger
      i.fa.fa-trash-o
      span(translate) 重置设置
  .widget-content.padded
    button(ng-click='exitSettings()').btn.btn-danger
      i.fa.fa-trash-o
      span(translate) 退出账号
