//控制面板布局
.row
  .col-md-6
    div(ng-include='"control-panes/dashboard/copy/copy.pug"')
  .col-md-6
    div(ng-include='"control-panes/dashboard/func-switch/func-switch.pug"')
.row
  .col-md-6
    div(ng-include='"control-panes/dashboard/navigation/navigation.pug"')
  .col-md-5
    div(ng-include='"control-panes/advanced/maintenance/maintenance.pug"')
.row
  .col-md-6
    div(ng-include='"control-panes/dashboard/clipboard/clipboard.pug"')
  .col-md-6(ng-if='$root.platform == "native"')
    div(ng-include='"control-panes/dashboard/shell/shell.pug"')
.row
  .col-md-6
    div(ng-include='"control-panes/advanced/input/input.pug"')
  .col-md-6
    div(ng-include='"control-panes/automation/device-settings/device-settings.pug"')
.row
  .col-md-7
    div(ng-include='"control-panes/dashboard/apps/apps.pug"')
  .col-md-5
    div(ng-include='"control-panes/dashboard/install/install.pug"')


