// 功能 Ins 取消关注设置详情界面
.unselectable
  .col-md-12(ng-if='status')
    .widget-container.fluid-height
      nothing-to-show(message='{{error}}', icon='fa-sitemap', ng-show='error')
      .content(ng-if='insAccount.account')
        label [取关配置清单]
      form.form
        .form-group
          label 开启状态
          input(bs-switch, type='checkbox', switch-size='small', switch-on-text='开启',
            switch-off-text='关闭',, ng-model='insAccount.config.unfollow.status',
            ng-false-value="0", ng-true-value="1", ng-change="switchChange()")
        .form-group
          label.checkbox
            input(type='checkbox', ng-model='insAccount.config.unfollow.checkSsr')
            span 检查SSR
        .form-group
          label.checkbox-inline
            input(type='checkbox', ng-model='insAccount.config.unfollow.startInfo.status')
            span 设置分身名称:
            input.form-control.name-input(type='text', ng-model='insAccount.config.unfollow.startInfo.startName')
        .form-group
          span 排序方式选择
            select(ng-model='insAccount.config.unfollow.rankType' ng-value=0)
              option(value='{{0}}') 默认
              option(value='{{1}}') 关注日期:从新到旧
              option(value='{{2}}') 关注日期:从旧到新
        .form-group
          span 操作间隔设置:
          input.form-control.sort-input(type='number', ng-model='insAccount.config.unfollow.minDelay')
          span 到
          input.form-control.sort-input(type='number', ng-model='insAccount.config.unfollow.maxDelay')
          span.color-blue Tips:取消关注操作之间的间隔时间(范围取随机值)
        .form-group
          span 每天取消关注人数设置:
          input.form-control.sort-input(type='number', ng-model='insAccount.config.unfollow.minPerson')
          span 到
          input.form-control.sort-input(type='number', ng-model='insAccount.config.unfollow.maxPerson')
          span (单位:个)每天增加:
          input.form-control.sort-input(type='number', ng-model='insAccount.config.unfollow.addDay')
          span (单位:个)直到每天最多达到
          input.form-control.sort-input(type='number', ng-model='insAccount.config.unfollow.maxDay')
          span (单位:个)
          span.color-blue Tips:每次取消关注人数的区间范围(范围取随机值)
        .form-group
          span 当上面的选项中每天达到最多后 则按:
          input.form-control.sort-input(type='number', ng-model='insAccount.config.unfollow.fullMinDay')
          span 到
          input.form-control.sort-input(type='number', ng-model='insAccount.config.unfollow.fullMaxDay')
          span 随机范围执行功能(单位:个)
        .form-group
          span 设置执行功能时间段:
          input.form-control.sort-input.time-start(ng-model='insAccount.config.unfollow.excute.start', datetimepicker, datetimepicker-options='{format: "HH:mm"}')
          span 到
          input.form-control.sort-input.time-end(ng-model='insAccount.config.unfollow.excute.end', datetimepicker, datetimepicker-options='{format: "HH:mm"}')
          span.color-blue Tips:执行功能的时间段
          //多个checkbox不会写
        .form-group
          span 设置操作日期:
          label.checkbox-inline(ng-repeat='(key, day) in weekday')
            input(type='checkbox', ng-model='selectedWeek[key]', name='weekday', ng-value='{{day.value}}')
            span {{day.title}}

        .content
          label **筛选配置**
        //.form-group
        //  label.checkbox
        //  input(type='checkbox', ng-model='notificationsEnabled', ng-click='enableNotifications()', checked)
        //  span(translate) 取关用户选项(二选一 所有/软件上关注的用户)
          //这里的输入框 不自动换行 怎么让他自己换行的
        .form-group
          label.checkbox
            input(type='checkbox', ng-model='insAccount.config.unfollow.whitelist.status')
            span 取关白名单列表设置:
          textarea.form-control.textarea(ng-model='insAccount.config.unfollow.whitelist.list')
          span.color-blue Tips:当前白名单中的用户不能被取消关注操作(每个词汇之间用换行隔开)
          //保存当前页面设置的按钮
        button.btn.btn-primary(ng-click='save()') 保存当前配置





