// 功能 Ins 取消关注设置详情界面
.unselectable
  .col-md-12(ng-if='status')
    .widget-container.fluid-height.unfollowLayout
      nothing-to-show(message='{{error}}', icon='fa-sitemap', ng-show='error')
      form.form
        .form-group
          label.topTxt  取关功能开关
          input(bs-switch, type='checkbox', switch-size='small', switch-on-text='开',switch-off-text='关',
            ng-model='insAccount.config.unfollow.status',ng-false-value="0", ng-true-value="1", ng-change="switchChange()")
        .form-group
          label.checkbox
            input(type='checkbox', ng-model='insAccount.config.unfollow.checkSsr')
            span 检查SSR
        .form-group
          label.checkbox
            input(type='checkbox', ng-model='insAccount.config.unfollow.checkV2')
            span 检查V2
        .form-group
          label.checkbox
            input(type='checkbox', ng-model='insAccount.config.unfollow.isLock')
            span 功能执行完锁屏
        .form-group
          label.checkbox
            input(type='checkbox', ng-model='insAccount.config.unfollow.startInfo.status')
            span 设置分身名称
            input.form-control.name-input(type='text', ng-model='insAccount.config.unfollow.startInfo.startName')
        .form-group
          label.checkbox
            input(type='checkbox', ng-model='insAccount.config.unfollow.nearZoneStatus')
            span 优先取关最近发布故事的用户
        .form-group
          span 每组操作间隔设置
          input.form-control.sort-input.rightBtn(type='number', ng-model='insAccount.config.unfollow.minWait')
          span.rightBtn 到
          input.form-control.sort-input.rightBtn(type='number', ng-model='insAccount.config.unfollow.maxWait')
          span.rightBtn 单位:秒
        .form-group
          span 每组取关人数设置
          input.form-control.sort-input.rightBtn(type='number', ng-model='insAccount.config.unfollow.minPerson')
          span.rightBtn 到
          input.form-control.sort-input.rightBtn(type='number', ng-model='insAccount.config.unfollow.maxPerson')
          span.rightBtn (单位:人)
          span.rightBtn 取关操作间隔
          input.form-control.sort-input.rightBtn(type='number', ng-model='insAccount.config.unfollow.minDelay')
          span.rightBtn 到
          input.form-control.sort-input.rightBtn(type='number', ng-model='insAccount.config.unfollow.maxDelay')
          span.rightBtn 单位:秒
        .form-group
          span 当日取关上限设置
          input.form-control.sort-input.rightBtn(type='number', ng-model='insAccount.config.unfollow.minDay')
          span.rightBtn 到
          input.form-control.sort-input.rightBtn(type='number', ng-model='insAccount.config.unfollow.maxDay')
          span.rightBtn (单位:人)
          span.rightBtn 自动递增
          input.form-control.sort-input.rightBtn(type='number', ng-model='insAccount.config.unfollow.addDay')
          span.rightBtn 递增上限
          input.form-control.sort-input.rightBtn(type='number', ng-model='insAccount.config.unfollow.topDay')
          span.rightBtn 单位:个
        .form-group
          span 当日取关自增长上限后,按照:
          input.form-control.sort-input.rightBtn(type='number', ng-model='insAccount.config.unfollow.fullMinDay')
          span.rightBtn 到
          input.form-control.sort-input.rightBtn(type='number', ng-model='insAccount.config.unfollow.fullMaxDay')
          span.rightBtn 操作(单位:个)
        .form-group
          span 每页随机取关设置
          input.form-control.sort-input.rightBtn(type='number', ng-model='insAccount.config.unfollow.minPage')
          span.rightBtn 到
          input.form-control.sort-input.rightBtn(type='number', ng-model='insAccount.config.unfollow.maxPage')
          span.rightBtn (单位:个)
          span.rightBtn 随机进个人资料页设置
          input.form-control.sort-input.rightBtn(type='number', ng-model='insAccount.config.unfollow.minEnter')
          span.rightBtn 到
          input.form-control.sort-input.rightBtn(type='number', ng-model='insAccount.config.unfollow.maxEnter')
          span.rightBtn 单位:个 进入到个人资料页面操作
        .form-group
          span 排序方式设置
            select.rightBtn(ng-model='insAccount.config.unfollow.rankType', ng-options='x.val as x.name for x in [{val:0,name:"默认"},{val:1,name:"关注日期:从新到旧"}, {val: 2, name: "关注日期:从旧到新"}]')
        .form-group
          span 设置执行功能时间段:
          input.form-control.sort-input.time-start.rightBtn(ng-model='insAccount.config.unfollow.excute.start', datetimepicker, datetimepicker-options='{format: "HH:mm"}')
          span.rightBtn 到
          input.form-control.sort-input.time-end.rightBtn(ng-model='insAccount.config.unfollow.excute.end', datetimepicker, datetimepicker-options='{format: "HH:mm"}')
          span.color-blue.rightBtn
        .form-group
          span 操作日期设置
          label.checkbox-inline.rightBtn(ng-repeat='(key, day) in weekday')
            input(type='checkbox', ng-model='selectedWeek[key]', name='weekday', ng-value='{{day.value}}')
            span {{day.title}}
        button.btn.btn-primary(ng-click='save()') 保存当前配置





