.row.unselectable(ng-controller='FuncCtrl')
  .col-md-12
    .widget-container.fluid-height.stf-device-list-tabs
      .widget-content.padded
        uib-tabset.overflow-auto
          uib-tab(active='activeTabs.func', select='focusSearch()')
            uib-tab-heading
              i.fa.fa-instagram.fa-lg.color-blue
              span Instagram
            div
              ins-table

          uib-tab(active='activeTabs.qq', select='focusSearch()', ng-if='!$root.basicMode')
            uib-tab-heading
              i.fa.fa-qq.fa-lg.color-red
              span QQ
            div
              span QQ功能未开放,联系客服开放...

          uib-tab(active='activeTabs.wx', select='focusSearch()', ng-if='!$root.basicMode')
            uib-tab-heading
              i.fa.fa-wechat.fa-lg.color-green
              span 微信
            div
              span 微信功能未开放,联系客服开放...

          uib-tab(active='activeTabs.fb', select='focusSearch()', ng-if='!$root.basicMode')
            uib-tab-heading
              i.fa.fa-facebook.fa-lg.color-black
              span Facebook
            div
              span facebook功能未开放,联系客服开放...

          uib-tab(active='activeTabs.wb', select='focusSearch()', ng-if='!$root.basicMode')
            uib-tab-heading
              i.fa.fa-weibo.fa-lg.color-pink
              span 微博
            div
              span 微博功能未开放,联系客服开放...

          uib-tab(active='activeTabs.mm', select='focusSearch()', ng-if='!$root.basicMode')
            uib-tab-heading
              i.fa.fa-mobile.fa-lg.color-white
              span 陌陌
            div
              span 陌陌功能未开放,联系客服开放...

          uib-tab(active='activeTabs.dy', select='focusSearch()', ng-if='!$root.basicMode')
            uib-tab-heading
              i.fa.fa-video-camera.fa-lg.color-darkgray
              span 抖音视频
            div
              span 抖音功能未开放,联系客服开放...

          uib-tab(active='activeTabs.ks', select='focusSearch()', ng-if='!$root.basicMode')
            uib-tab-heading
              i.fa.fa-file-video-o.fa-lg.color-darkgray
              span 快手短视频
            div
              span 快手功能未开放,联系客服开放...

          uib-tab(active='activeTabs.xg', select='focusSearch()', ng-if='!$root.basicMode')
            uib-tab-heading
              i.fa.fa-play.fa-lg.color-red
              span 西瓜视频
            div
              span 西瓜视频功能未开放,联系客服开放...

          uib-tab(active='activeTabs.xw', select='focusSearch()', ng-if='!$root.basicMode')
            uib-tab-heading
              i.fa.fa-newspaper-o.fa-lg.color-orange
              span 某新闻软件
            div
              span 新闻功能未开放,联系客服开放...

          uib-tab(active='activeTabs.yx', select='focusSearch()', ng-if='!$root.basicMode')
            uib-tab-heading
              i.fa.fa-gamepad.fa-lg.color-brown
              span 某游戏软件
            div
              span 游戏功能未开放,联系客服开放...
