.row.unselectable(ng-controller='FuncCtrl')
  .col-md-12
    .widget-container.fluid-height.stf-device-list-tabs
      .widget-content.padded
        uib-tabset.overflow-auto
          uib-tab(active='activeTabs.func', select='focusSearch()')
            uib-tab-heading
              i.fa.fa-instagram.fa-lg.color-pink
              span.color-pink Instagram
            div
              ins-table

          //uib-tab(active='activeTabs.qq', select='focusSearch()', ng-if='!$root.basicMode')
          //  uib-tab-heading
          //    i.fa.fa-qq.fa-lg.color-black
          //    span.color-black QQ
          //  div
          //    span QQ功能未开放,联系客服开放...
          //
          //uib-tab(active='activeTabs.wx', select='focusSearch()', ng-if='!$root.basicMode')
          //  uib-tab-heading
          //    i.fa.fa-wechat.fa-lg.color-green
          //    span.color-green 微信
          //  div
          //    span 微信功能未开放,联系客服开放...
          //
          //uib-tab(active='activeTabs.dy', select='focusSearch()', ng-if='!$root.basicMode')
          //  uib-tab-heading
          //    i.fa.fa-medium.fa-lg.color-red
          //    span.color-red 抖音短视频
          //  div
          //    span 抖音功能未开放,联系客服开放...
          //
          //uib-tab(active='activeTabs.ks', select='focusSearch()', ng-if='!$root.basicMode')
          //  uib-tab-heading
          //    i.fa.fa-file-video-o.fa-lg.color-darkgray
          //    span.color-darkgray 快手短视频
          //  div
          //    span 快手功能未开放,联系客服开放...
          //
          //uib-tab(active='activeTabs.wb', select='focusSearch()', ng-if='!$root.basicMode')
          //  uib-tab-heading
          //    i.fa.fa-weibo.fa-lg.color-pink
          //    span.color-pink 微博
          //  div
          //    span 微博功能未开放,联系客服开放...
          //
          //uib-tab(active='activeTabs.mm', select='focusSearch()', ng-if='!$root.basicMode')
          //  uib-tab-heading
          //    i.fa.fa-mobile.fa-lg.color-white
          //    span.color-white 陌陌
          //  div
          //    span 陌陌功能未开放,联系客服开放...
          //
          //uib-tab(active='activeTabs.xg', select='focusSearch()', ng-if='!$root.basicMode')
          //  uib-tab-heading
          //    i.fa.fa-play.fa-lg.color-red
          //    span.color-red 西瓜视频
          //  div
          //    span 西瓜视频功能未开放,联系客服开放...
          //
          //uib-tab(active='activeTabs.xw', select='focusSearch()', ng-if='!$root.basicMode')
          //  uib-tab-heading
          //    i.fa.fa-newspaper-o.fa-lg.color-orange
          //    span.color-orange 火山小视频
          //  div
          //    span 新闻功能未开放,联系客服开放...
          //
          //uib-tab(active='activeTabs.xw', select='focusSearch()', ng-if='!$root.basicMode')
          //  uib-tab-heading
          //    i.fa.fa-reddit.fa-lg.color-yellow
          //    span.color-yellow 小红书
          //  div
          //    span 新闻功能未开放,联系客服开放...
          //
          //uib-tab(active='activeTabs.yx', select='focusSearch()', ng-if='!$root.basicMode')
          //  uib-tab-heading
          //    i.fa.fa-taxi.fa-lg.color-lila
          //    span.color-lila TikTok
          //  div
          //    span 游戏功能未开放,联系客服开放...
          //
          //uib-tab(active='activeTabs.fb', select='focusSearch()', ng-if='!$root.basicMode')
          //  uib-tab-heading
          //    i.fa.fa-facebook.fa-lg.color-brown
          //    span.color-brown Facebook
          //  div
          //    span facebook功能未开放,联系客服开放...
          //
          //uib-tab(active='activeTabs.yx', select='focusSearch()', ng-if='!$root.basicMode')
          //  uib-tab-heading
          //    i.fa.fa-whatsapp.fa-lg.color-blue
          //    span.color-blue WhatsApp
          //  div
          //    span 游戏功能未开放,联系客服开放...
          //
          //uib-tab(active='activeTabs.yx', select='focusSearch()', ng-if='!$root.basicMode')
          //  uib-tab-heading
          //    i.fa.fa-line-chart.fa-lg.color-violet
          //    span.color-violet Line
          //  div
          //    span 游戏功能未开放,联系客服开放...
          //
          //uib-tab(active='activeTabs.yx', select='focusSearch()', ng-if='!$root.basicMode')
          //  uib-tab-heading
          //    i.fa.fa-twitter.fa-lg.color-green
          //    span.color-green Twitter
          //  div
          //    span 游戏功能未开放,联系客服开放...
          //
          //uib-tab(active='activeTabs.yx', select='focusSearch()', ng-if='!$root.basicMode')
          //  uib-tab-heading
          //    i.fa.fa-tumblr.fa-lg.color-black
          //    span.color-black Tumblr
          //  div
          //    span 游戏功能未开放,联系客服开放...
