.row.unselectable(ng-controller='FuncCtrl')
  .col-md-12
    .widget-container.fluid-height.stf-device-list-tabs
      .widget-content.padded
        uib-tabset.overflow-auto
          uib-tab(active='activeTabs.func', select='focusSearch()')
            uib-tab-heading
              i.fa.fa-thumb-tack
              span Ins



          uib-tab(active='activeTabs.progress', select='focusSearch()', ng-if='!$root.basicMode')
            uib-tab-heading
              i.fa.fa-list
              span 微信


