.total-control-toolbar
  //功能栏目
  uib-tabset.overflow-auto.fixHeight
    uib-tab(active='activeTabs.xt', select='focusSearch()')
      uib-tab-heading
        i.fa.fa-gear.fa-lg.color-brown
        span 系统工具
      label.xt
        .flex-content
          a(ng-href='https://www.jianshu.com/u/5ad61d0681ad', target='_blank')
            .text !!!!!!!!!!!!使用说明 请点击这里 所有功能教程 持续更新(会弹出新窗口跳转到外部教程链接)
        .flex-content.xt
          button.btn.btn-primary(type='file', ng-file-select='installPic($files)') 导入图片到手机
          button.btn.btn-primary(type='file', ng-file-select='pushFile($files)') 导入视频/文件到手机
          button.btn.btn-primary(type='file', ng-file-select='installFile($files)') 安装程序到手机
        .flex-content.xt
          textarea.form-control.inline-block.textarea(ng-model='xt.shellName')
          button.btn.btn-primary.endBtn(ng-click='startShell()') 批量执行shell(输入特定的shell执行)
        .flex-content.xt
          textarea.form-control.inline-block.textarea(ng-model='xt.pasteContent')
          button.btn.btn-primary.endBtn(ng-click='setContents()') 粘贴文字
        .flex-content.xt
          textarea.form-control.inline-block.textarea(ng-model='xt.contacts')
          button.btn.btn-primary.endBtn(ng-click='addContacts()') 添加通讯录
          button.btn.btn-primary.endBtn(ng-click='clearContacts()') 清空通讯录

    uib-tab(active='activeTabs.fb', select='focusSearch()')
      uib-tab-heading
        i.fa.fa-facebook.fa-lg.color-black
        span Facebook
      label facebook养号功能
        .flex-content
          .btn.btn-primary(ng-click='startFb()') 打开Facebook
          .btn.btn-primary(ng-click='startMsg()') 打开Messenger
        .flex-content 功能参数配置
        .flex-content
          .text 功能类型:
          select(ng-model='fb.type',ng-options='x.val as x.name for x in [{val:1,name:"添加推荐的人"},{val:2,name:"通过好友验证"}]')
          .text 性别:
          select(ng-model='fb.gender',ng-options='x.val as x.name for x in [{val:0,name:"不筛选"},{val:1,name:"男"},{val:2,name:"女"}, {val:3,name:"男+女"}]')
          .text 语言:
          select(ng-model='fb.language',ng-options='x.val as x.name for x in [{val:0,name:"不筛选"},{val:1,name:"中文"},{val:2,name:"英文"}, {val:3,name:"中文+英文"}]')
          .text 行业:
          input.form-control.sort-input(type='string', ng-model='fb.business')
          .text 年龄范围:
          input.form-control.sort-input(type='number', ng-model='fb.minAge')
          .text 到
          input.form-control.sort-input(type='number', ng-model='fb.maxAge')
          .text 添加总数:
          input.form-control.sort-input(type='number', ng-model='fb.addNum')
          .btn.btn-primary.endBtn(ng-click='startFunction()') 执行功能

    uib-tab(active='activeTabs.dy', select='focusSearch()')
      uib-tab-heading
        i.fa.fa-video-camera.fa-lg.color-blue
        span 抖音
      label 提示:可用版本(11.1.0)
        .flex-content
          .btn.btn-primary(ng-click='startDy()') 打开抖音
        .flex-content 配置功能参数
        .flex-content.xt
          .text 浏览总数:
          input.form-control.sort-input(type='number', ng-model='dy.homeViewNum')
          .text 随机点赞:
          input.form-control.sort-input(type='number', ng-model='dy.homeLikeNum')
          .text 随机评论:
          input.form-control.sort-input(type='number', ng-model='dy.homeCommentNum')
        .flex-content.xt
          .text 评论话术:
          textarea.form-control.inline-block.textarea(ng-model='dy.homeCommentAll')
          .btn.btn-primary.endBtn(ng-click='dyHomeView()') 抖音首页养号模式
        .flex-content.xt
          .text 操作方式:
          select(ng-model='dy.addType',ng-options='x.val as x.name for x in [{val:1,name:"关注用户"},{val:2,name:"粉丝列表"},{val:3,name:"关注列表"}]')
          .text 每页关注数:
          input.form-control.sort-input(type='number', ng-model='dy.addNum')
          .text 关注总数:
          input.form-control.sort-input(type='number', ng-model='dy.addAllNum')
        .flex-content.xt
          .text 配置用户id:
          textarea.form-control.inline-block.textarea(ng-model='dy.searchId')
          .btn.btn-primary.endBtn(ng-click='dySearchAdd()') 自动关注粉丝

    uib-tab(active='activeTabs.ks', select='focusSearch()')
      uib-tab-heading
        i.fa.fa-file-video-o.fa-lg.color-red
        span 快手
      label 配置养号模式(版本号:7.2.3.13086+):
        .flex-content.xt
          .btn.btn-primary(ng-click='startKs()') 打开快手
        .flex-content
          span 浏览总数:
          input.form-control.sort-input(type='number', ng-model='ks.homeViewNum')
          span 随机点赞:
          input.form-control.sort-input(type='number', ng-model='ks.homeLikeNum')
          span 随机评论:
          input.form-control.sort-input(type='number', ng-model='ks.homeCommentNum')
          span 评论话术:
          textarea.form-control.inline-block.textarea(ng-model='ks.homeCommentAll')
          button.btn.btn-primary.endBtn(ng-click='ksHomeView()') 首页养号

    uib-tab(active='activeTabs.wx', select='focusSearch()')
      uib-tab-heading
        i.fa.fa-wechat.fa-lg.color-green
        span 微信
      label 提示:推荐使用版本(7.0.14)
        .flex-content.xt
          .btn.btn-primary(ng-click='startWx()') 打开微信
        .flex-content.xt
          .text 配置朋友圈文字:
          textarea.form-control.inline-block.textarea(ng-model='wx.circleTxt')
          .btn.btn-primary.endBtn(ng-click='sendCircle()') 发送朋友圈
        .flex-content.xt
          .text 微信ID:
          textarea.form-control.inline-block.textarea.short(ng-model='wx.wxIdList')
          .text 打招呼话术:
          textarea.form-control.inline-block.textarea(ng-model='wx.sayList')
          .btn.btn-primary.endBtn(ng-click='wxSearchAdd()') 精准加人

    uib-tab(active='activeTabs.tt', select='focusSearch()')
      uib-tab-heading
        i.fa.fa-video-camera.fa-lg.color-blue
        span tiktok
      label 配置养号模式(版本号:15.3.4):
        .flex-content
          span 浏览总数:
          input.form-control.sort-input(type='number', ng-model='tt.homeViewNum')
          span 随机点赞:
          input.form-control.sort-input(type='number', ng-model='tt.homeLikeNum')
          span 随机评论:
          input.form-control.sort-input(type='number', ng-model='tt.homeCommentNum')
          span 评论话术:
          textarea.form-control.inline-block.textarea(ng-model='tt.homeCommentAll')
          button.btn.btn-primary(ng-click='tkHomeView()') 首页养号
      label 配置精准养号模式:
        .flex-content
          span 操作方式:
            label.checkbox
              input(type='checkbox', ng-model='tt.viewVideo')
              span 浏览视频
            label.checkbox
              input(type='checkbox', ng-model='tt.likeVideo')
              span 点赞视频
            label.checkbox
              input(type='checkbox', ng-model='tt.commentVideo')
              span 评论视频
          span 用户id:
          textarea.form-control.inline-block.textarea(ng-model='tt.searchId')
          span 评论话术:
          textarea.form-control.inline-block.textarea(ng-model='tt.commentTxt')
          button.btn.btn-primary(ng-click='tkSearchView()') 精准养号

    uib-tab(active='activeTabs.ins', select='focusSearch()')
      uib-tab-heading
        i.fa.fa-instagram.fa-lg.color-blue
        span Instagram
      div
        ins-table

    uib-tab(active='activeTabs.qq', select='focusSearch()')
      uib-tab-heading
        i.fa.fa-qq.fa-lg.color-red
        span QQ
      label qq养号:
        .flex-content
          button.btn.btn-primary(ng-click='startQq()') 打开QQ

    uib-tab(active='activeTabs.wb', select='focusSearch()')
      uib-tab-heading
        i.fa.fa-weibo.fa-lg.color-pink
        span 微博
      label 微博养号:
        .flex-content
          button.btn.btn-primary(ng-click='startQq()') 打开微博

    uib-tab(active='activeTabs.mm', select='focusSearch()')
      uib-tab-heading
        i.fa.fa-mobile.fa-lg.color-white
        span 陌陌
      label 陌陌养号:
        .flex-content
          button.btn.btn-primary(ng-click='startQq()') 打开陌陌

    uib-tab(active='activeTabs.xg', select='focusSearch()')
      uib-tab-heading
        i.fa.fa-play.fa-lg.color-red
        span 西瓜视频
      label 西瓜养号:
        .flex-content
          button.btn.btn-primary(ng-click='startQq()') 打开西瓜适配

    uib-tab(active='activeTabs.xw', select='focusSearch()')
      uib-tab-heading
        i.fa.fa-newspaper-o.fa-lg.color-orange
        span 某新闻软件
      label 待开发:
        .flex-content
          span 待开发,联系客服开发...

    uib-tab(active='activeTabs.yx', select='focusSearch()')
      uib-tab-heading
        i.fa.fa-gamepad.fa-lg.color-brown
        span 某游戏软件
      label 待开发:
        .flex-content
          span 待开发,联系客服开发...

  //群控设备
  .total-control
    .loading(ng-if='status == 1')
      span 加载中...
    div(ng-if='status == 0')
      .total-control-toolbar
        .btn-group
          .btn.btn-primary(ng-class='{active: size === 1}', ng-click='changeSize(1)') 小
          .btn.btn-primary(ng-class='{active: size === 2}', ng-click='changeSize(2)') 中
          .btn.btn-primary(ng-class='{active: size === 3}', ng-click='changeSize(3)') 大
          .btn.btn-primary(ng-class='{active: size === 4}', ng-click='changeSize(4)') 超大
          .btn.btn-primary(ng-click='stopFun()') 停止所有功能
      .checkbox
        label(label-for='checkAll')
          input(type='checkbox' name='checkAll' ng-click='getAllDeviceChannel()' ng-checked='checkAll')
          span 全选
      .devices-flex
        .device-control(ng-class='"device-control-size" + size', ng-if='mainScreen.state === "available" || mainScreen.state === "using"')
          .total-control-options
          control-panes(serial='{{mainScreen.serial}}', main-screen='1', control-list='controlList')
          .device-note.device-name(editable-text='mainScreen.notes', e-form='input', onaftersave="save(-1)") {{mainScreen.notes || mainScreen.serial}}
            i.device-note-edit.fa.fa-pencil(ng-click="input.$show()", ng-hide="input.$visible")
        .device-list-wrap
          ul.pager
            li
              button.btn.btn-link(ng-disabled='page === 1', ng-click='prev()') 上一页
            li
              button.btn.btn-link(ng-disabled='page === totalPage', ng-click='next()') 下一页
          .device-list
            div(ng-repeat='(index, device) in showDevices')
              .device-control.device-control-size1(ng-if='device.state === "available" || device.state === "using"')
                control-panes(serial='{{device.serial}}')
                .checkbox.note-checkbox
                  label(label-for='{{device.serial}}')
                    input(type='checkbox' name='{{device.serial}}', ng-click='chooseChannel(device.channel)', value='{{device.serial}}', ng-checked='controlList.includes(device.channel)')
                  span.device-note(editable-text='device.notes', e-form='input', onaftersave="save(index)") {{device.notes || device.serial}}
                    i.device-note-edit.fa.fa-pencil(ng-click="input.$show()" ng-hide="input.$visible")


