.widget-container.fluid-height.stf-clipboard(ng-controller='ClipboardCtrl')
  .heading
    stacked-icon(icon='fa-copy', color='color-brown')
    span(translate) 文字传送
  .widget-content.padded
    .input-group.form-inline
      textarea(rows='1', ng-model='control.clipboardContent', msd-elastic, text-focus-select,
        tabindex='20').form-control.clipboard-textarea
      span.input-group-btn
        button.btn.btn-primary-outline(ng-click='control.getClipboardContent()', uib-tooltip='{{ "获取手机剪贴板文字" | translate }}')
          i.fa.fa-cloud
        button.btn.btn-primary-outline(ng-click='control.setClipboardContent()', uib-tooltip='{{ "设置手机剪贴板文字" | translate }}')
          i.fa.fa-text-height
