.unselectable
  .col-md-12
    .widget-container.fluid-height.stf-device-list-tabs
      .widget-content.padded
        uib-tabset.overflow-auto
          uib-tab(active='activeTabs.notes')
            uib-tab-heading
              i.fa.fa-lg.color-blue
              span 账号备注
            div(ng-if='activeTabs.notes')
              statistics-notes

          uib-tab(active='activeTabs.dataAnalysis')
            uib-tab-heading
              i.fa.fa-lg.color-blue
              span 数据分析
            div(ng-if='activeTabs.dataAnalysis') 数据分析

          uib-tab(active='activeTabs.sourceAnalysis')
            uib-tab-heading
              i.fa.fa-lg.color-blue
              span 粉丝来源
            div(ng-if='activeTabs.sourceAnalysis') 粉丝来源
