.unselectable
  .col-md-12
    .widget-container.fluid-height.stf-device-list-tabs
      .widget-content.padded
        uib-tabset.overflow-auto
          uib-tab(active='activeTabs.model1')
            uib-tab-heading
              i.fa.fa-lg.color-blue
              span 发帖模式1
            div(ng-if='activeTabs.model1')
              post-model1

          uib-tab(active='activeTabs.model2')
            uib-tab-heading
              i.fa.fa-lg.color-blue
              span 发帖模式2
            div(ng-if='activeTabs.model2')
              post-model2

          //uib-tab(active='activeTabs.setting')
          //  uib-tab-heading
          //    i.fa.fa-lg.color-blue
          //    span 随机发帖
          //  div 随机发帖

          uib-tab(active='activeTabs.logs')
            uib-tab-heading
              i.fa.fa-lg.color-blue
              span 日志
            div(ng-if='activeTabs.logs')
              func-logs(type='6')
