table.table.table-hover.dataTable.ng-table
  thead
    tr
      th.header
        div 设备
      th.header
        div 时间
      th.header
        div 日志
  tbody
    tr(ng-repeat='item in logs')
      td
        div {{item.notes || item.serial}}
      td
        div {{item.created}}
      td
        div {{item.msg}}

ul.pager
  li
    button.btn.btn-link(ng-disabled='page === 1', ng-click='prev()') 上一页
  li
    button.btn.btn-link(ng-disabled='page === totalPage', ng-click='next()') 下一页
nothing-to-show(message='暂无日志', icon='fa-sitemap', ng-show='!logs.length')
