div
  .modal-header
    h3.modal-title 新建帖子
  .modal-body
    //form
      //.alert.alert-danger(ng-show='error')
      //  span {{error}}
      //label(for='account')
      //input.form-control(id='account', placeholder='请输入帖子标题', ng-model='title')
    form
      .form-group
        label.checkbox
          input(type='checkbox', ng-model='post.checkSsr')
          span 检查SSR
      .form-group
        label.checkbox-inline
          input(type='checkbox', ng-model='post.startInfo.status')
          span 设置分身名称:
          input.form-control.name-input(type='text', ng-model='post.startInfo.startName')
      .form-group
        label.checkbox-inline
          input(type='checkbox', ng-model='post.locInfo.status')
          span 设置模拟位置名称:
          input.form-control.name-input(type='text', ng-model='post.locInfo.locName')
      .form-group.form-inline
        label 标题
        input.form-control(ng-model='post.title')
      .form-group
        .imgs
          .img(ng-repeat='(index, img) in post.imgList')
            img(src='{{img}}')
            .remove(ng-click='removeImg(index)')
              i.fa.fa-close
          .upload(ng-if='post.imgList.length < 11')
            input.file(type='file', accept='image/*', ng-model='file', onchange='angular.element(this).scope().uploadImg(angular.element(this))')
            i.fa.fa-upload
      .form-group.form-inline
        textarea.form-control(ng-model='post.res')
      .form-group.form-inline
        label 设置时间
        input.form-control.post-time-picker(ng-model='post.postTime', datetimepicker, datetimepicker-options='{format: "YYYY-MM-DD HH:mm:ss"}')
      .form-group.form-inline
        label 发帖模式
        .radio-inline
          label
            input(type='radio', name='type', value='1', ng-model='post.type')
            span 删除这些文件
        .radio-inline
          label
            input(type='radio', name='type', value='2', ng-model='post.type')
            span 标记为已使用

  .modal-footer
    button.btn.btn-default(type='button', ng-click='closeModal()') 关闭
    button.btn.btn-primary(type='button', ng-click='save()') 保存
