.post-container
  button.btn.btn-primary.pull-right(ng-click='createPost()') 新增帖子
  table.table
    thead
      tr
        th.header 帖子名称
        th.header 新增时间
        th.header 操作
    tbody
      tr(ng-repeat='item in colums')
        td {{item.title}}
        td {{item.created}}
        th
          div
            button.btn.btn-primary(ng-click='editPost(item.id)') 编辑
            button.btn.btn-default 删除
