.emoji-wrap {
  position: relative;
  width: 200px;
}

.emoji-content {
  position: absolute;
  top: 0;
  left: 0;
  height: 200px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  padding: 11px 11px;
}
