// 功能 Ins 私信设置详情界面
.unselectable
  .col-md-12(ng-if='status')
    .widget-container.fluid-height
      nothing-to-show(message='{{error}}', icon='fa-sitemap', ng-show='error')
      .content(ng-if='insAccount.account')
        label [私信配置清单]
      form.form(ng-if='!error')
        .form-group
          label 开启状态
          input(bs-switch, type='checkbox', switch-size='small', switch-on-text='开启',
            switch-off-text='关闭', ng-model='insAccount.config.message.status', ng-true-value="1",
            ng-false-value="0", ng-change="switchChange()")
        .form-group
          label.checkbox
            input(type='checkbox', ng-model='insAccount.config.message.isTest')
            span 开启测试模式
        .form-group
          label.checkbox
            input(type='checkbox', ng-model='insAccount.config.message.checkSsr')
            span 检查SSR
        .form-group
          label.checkbox-inline
            input(type='checkbox', ng-model='insAccount.config.message.startInfo.status')
            span 设置分身名称:
            input.form-control.name-input(type='text', ng-model='insAccount.config.message.startInfo.startName')
        .form-group
          span 对资源操作间隔设置:
          input.form-control.sort-input(type='number', ng-model='insAccount.config.message.minWait')
          span 到
          input.form-control.sort-input(type='number', ng-model='insAccount.config.message.maxWait')
          span 单位:分钟
          span.color-blue Tips:对每个资源的操作间隔(范围取随机值 单位:分钟)
        .form-group
          span 对每个资源私信人数设置:
          input.form-control.sort-input(type='number', ng-model='insAccount.config.message.minPerson')
          span 到
          input.form-control.sort-input(type='number', ng-model='insAccount.config.message.maxPerson')
          span (单位:个)..   对每个资源私信人数设置:
          input.form-control.sort-input(type='number', ng-model='insAccount.config.message.minDelay')
          span 到
          input.form-control.sort-input(type='number', ng-model='insAccount.config.message.maxDelay')
          span 单位:秒
          span.color-blue Tips:每次私信人数的区间范围(范围取随机值  单位:个 单位:秒)
        .form-group
          span 对每天私信总数上限设置: 每天私信
          input.form-control.sort-input(type='number', ng-model='insAccount.config.message.minDay')
          span 到
          input.form-control.sort-input(type='number', ng-model='insAccount.config.message.maxDay')
          span (单位:个)..   每天增加
          input.form-control.sort-input(type='number', ng-model='insAccount.config.message.addDay')
          span (单位:个)..   直到每天最多达到
          input.form-control.sort-input(type='number', ng-model='insAccount.config.message.topDay')
          span (单位:个)..
          span.color-blue Tips:用来限制每天私信的总数(范围取随机值  单位:个 单位:个 单位:个)
        .form-group
          span 当上面的选项中每天达到最多后 则按:
          input.form-control.sort-input(type='number', ng-model='insAccount.config.message.fullMinDay')
          span 到
          input.form-control.sort-input(type='number', ng-model='insAccount.config.message.fullMaxDay')
          span 随机范围执行功能(单位:个)
        .form-group
          span 设置执行功能时间段:
          input.form-control.sort-input.time-start(ng-model='insAccount.config.message.excute.start', datetimepicker, datetimepicker-options='{format: "HH:mm"}')
          span 到
          input.form-control.sort-input.time-end(ng-model='insAccount.config.message.excute.end', datetimepicker, datetimepicker-options='{format: "HH:mm"}')
          span.color-blue Tips:执行功能的时间段
          //多个checkbox不会写
        .form-group
          span 设置操作日期:
          label.checkbox-inline(ng-repeat='(key, day) in weekday')
            input(type='checkbox', ng-model='selectedWeek[key]', name='weekday', ng-value='{{day.value}}')
            span {{day.title}}

        .content
          label *********筛选配置*********
        .form-group
          label.checkbox
            input(type='checkbox', ng-model='insAccount.config.message.skipSecretAccount')
            span 跳过私密用户(全局设置)
        .form-group
          label.checkbox
            input(type='checkbox', ng-model='insAccount.config.message.skipNonEnglish')
            span 跳过非英文用户
        .form-group
          label.checkbox
            input(type='checkbox', ng-model='insAccount.config.message.hasProfile')
            span 跳过没有个人简介的用户
        .form-group
          label.checkbox
            input(type='checkbox', ng-model='insAccount.config.message.skipFollowers')
            span 跳过已私信用户
        .form-group
          label.checkbox
            input(type='checkbox', ng-model='insAccount.config.message.skipBussiness')
            span 跳过有商业标签的用户
        .form-group
          label.checkbox
            input(type='checkbox', ng-model='insAccount.config.message.skipWebsite')
            span 跳过有网站资料的用户
        .form-group
          label.checkbox
            input(type='checkbox', ng-model='insAccount.config.message.skipPhone')
            span 跳过有手机号码的用户
        .form-group
          label.checkbox
            input(type='checkbox', ng-model='insAccount.config.message.skipWaitTime')
            span 跳过搜索后没有结果的资源 并将资源拉入黑名单
        .form-group
          label.checkbox-inline
            input(type='checkbox', ng-model='insAccount.config.message.followerStatus')
            span 用户拥有粉丝范围:
            input.form-control.sort-input(type='number', ng-model='insAccount.config.message.minFollowers')
            span 到
            input.form-control.sort-input(type='number', ng-model='insAccount.config.message.maxFollowers')
            span 用户拥有关注范围:
            input.form-control.sort-input(type='number', ng-model='insAccount.config.message.minFollowing')
            span 到
            input.form-control.sort-input(type='number', ng-model='insAccount.config.message.maxFollowing')
            span.color-blue Tips:设置一个范围值 需要当前用户的关注和粉丝数量达到这个范围值
        .form-group
          label.checkbox-inline
            input(type='checkbox', ng-model='insAccount.config.message.postTimeStatus')
            span 对用户帖子发布时间的筛选: 筛选用户的前
            input.form-control.sort-input(type='number', ng-model='insAccount.config.message.postTimeBefore')
            span 条(最大值12)帖子是否有:
            input.form-control.sort-input(type='number', ng-model='insAccount.config.message.postTimeDay')
            span 天(单位:天)以内的帖子
        .form-group
          label.checkbox-inline
            input(type='checkbox', ng-model='insAccount.config.message.postCommentStatus')
            span 对用户帖子评论数量的筛选: 筛选用户的前
            input.form-control.sort-input(type='number', ng-model='insAccount.config.message.postCommentBefore')
            span 条(最大值12)帖子是否有:
            input.form-control.sort-input(type='number', ng-model='insAccount.config.message.postCommentDay')
            span 条(单位:条)以上评论的帖子
        .form-group
          input(type='checkbox', ng-model='insAccount.config.message.lanStatus')
          span 对用户语言类型的筛选
            select(ng-model='insAccount.config.message.language')
              option(value='{{1}}') 中文
              option(value='{{2}}') 英语
        .form-group
          label.checkbox
            input(type='checkbox', ng-model='insAccount.config.message.followingWords.status')
            span 词汇黑名单过滤:
            textarea.form-control.textarea(ng-model='insAccount.config.message.followingWords.words')
          span.color-blue Tips:当用户的个人资料中含有以下黑名单词汇时则过滤(每个词汇之间用换行隔开)
          //保存当前页面设置的按钮
        button.btn.btn-primary(ng-click='save()') 保存当前配置
        //button.btn.btn-primary(ng-click='run()') 立即运行
