.device-list {
  display: flex;
  flex-wrap: wrap;
}

.device-conntrol {
  padding-bottom: 50px;
  padding-right: 10px;
  /*多加了10*/
  width: 145px;
  /*多加了96*/
  height: 366px;
  /*width: 280px;*/
  /*height: 636px;*/
}

.loading {
  width: 100%;
  text-align: center;
  margin-top: 300px;
}
