.total-control
  .loading(ng-if='status == 1')
    span 加载中...
  div(ng-if='status == 0')
    .total-control-toolbar
      .btn-group
        .btn.btn-primary(ng-class='{active: size === 1}', ng-click='changeSize(1)') 小
        .btn.btn-primary(ng-class='{active: size === 2}', ng-click='changeSize(2)') 中
        .btn.btn-primary(ng-class='{active: size === 3}', ng-click='changeSize(3)') 大
        .btn.btn-primary(ng-class='{active: size === 4}', ng-click='changeSize(4)') 超大

      .btn-group
        .btn.btn-primary(ng-click='startIns()') 批量打开Ins
      .btn-group
        .btn.btn-primary(ng-click='stopFun()') 停止所有功能
      //.btn-group
      //  .btn.btn-primary(ng-click='startAdd()') Fb自动添加
      //.btn-group
      //  .btn.btn-primary(ng-click='startPass()') Fb自动通过
      //.btn-group
      //  .btn.btn-primary(ng-click='startPp()') 批量打开皮皮搞笑
      //.btn-group
      //  .btn.btn-primary(ng-click='removeMsg()') 删除漂流瓶消息
      //label 设置要发送消息的内容:
      //  .flex-content
      //    textarea.form-control.inline-block.textarea(ng-model='$parent.msgList')
      //    div
      //      button.btn.btn-primary(ng-click='msgFans()') 粉丝列表私信
      //      button.btn.btn-primary(ng-click='msgAtts()') 关注列表私信
      //label 设置要操作的用户的名称:
      //  .flex-content
      //    textarea.form-control.inline-block.textarea(ng-model='$parent.addList')
      //    div
      //      button.btn.btn-primary(ng-click='addListFunc()') 自动关注
      //label 设置漂流瓶自动私信的文字:
      //  .flex-content
      //    textarea.form-control.inline-block.textarea(ng-model='$parent.plpList')
      //    div
      //      button.btn.btn-primary(ng-click='plpMsg()') 漂流瓶自动私信

    .checkbox
      label(label-for='checkAll')
        input(type='checkbox' name='checkAll' ng-click='getAlldeviceChannel()' ng-checked='checkAll')
        span 全选
    .device-list
      div(ng-repeat='(index, device) in devices')
        .device-control(ng-class='"device-control-size" + size', ng-if='device.state === "available" || device.state === "using"')
          .total-control-options(ng-if='device.serial === mainScreen.serial')
          control-panes(ng-if='device.serial === mainScreen.serial', serial='{{device.serial}}', main-screen='1', control-list='controlList')
          .device-note.device-name(ng-if='device.serial === mainScreen.serial', editable-text='device.notes', e-form='input', onaftersave="save(index)") {{device.notes || device.serial}}
            i.device-note-edit.fa.fa-pencil(ng-click="input.$show()", ng-hide="input.$visible")

          .total-control-options(ng-if='device.serial !== mainScreen.serial')
            button.btn.btn-link(ng-click='setMainDevice(index)') 设为主控
          control-panes(ng-if='device.serial !== mainScreen.serial', serial='{{device.serial}}')
          .checkbox.note-checkbox(ng-if='device.serial !== mainScreen.serial')
            label(label-for='{{device.serial}}')
              input(type='checkbox' name='{{device.serial}}', ng-click='chooseChannel(device.channel)', value='{{device.serial}}', ng-checked='controlList.includes(device.channel)')
            span.device-note(editable-text='device.notes', e-form='input', onaftersave="save(index)") {{device.notes || device.serial}}
              i.device-note-edit.fa.fa-pencil(ng-click="input.$show()" ng-hide="input.$visible")
