.device-list {
  display: flex;
  flex-wrap: wrap;
}

.device-conntrol {
  /*width: 540px;*/
  /*height: 1080px;*/
  padding-bottom: 50px;
  padding-right: 10px;
  width: 280px;
  height: 636px;
}

.loading {
  width: 100%;
  text-align: center;
  margin-top: 300px;
}
