.unselectable
  .col-md-12
    .widget-container.fluid-height.stf-device-list-tabs
      .widget-content.padded
        .form-group
          label.checkbox
            input(type='checkbox', ng-model='config.checkSsr')
            span 检查SSR
        .form-group
          label.checkbox-inline
            input(type='checkbox', ng-model='config.startInfo.status')
            span 设置分身名称:
            input.form-control.name-input(type='text', ng-model='config.startInfo.startName')
        button.btn.btn-primary(ng-click='save()') 保存

        form
          .form-group.form-inline
            input.form-control.post-time-picker(ng-model='tableStart', datetimepicker, datetimepicker-options='{format: "YYYY-MM-DD"}')
            span.m-lr-5 -
            input.form-control.post-time-picker(ng-model='tableEnd', datetimepicker, datetimepicker-options='{format: "YYYY-MM-DD"}')
            button.btn.btn-primary.no-margin.m-lr-5(ng-click='tableSearch()') 查询

        table.table.table-hover.dataTable.ng-table
          thead
            tr
              th.header
                div 日期
              th.header
                div 日增长粉丝
              th.header
                div 粉丝数
              th.header
                div 关注数
              th.header
                div 月增长

          tbody
            tr(ng-repeat='item in data')
              td {{item.createdAt}}
              td {{item.followerNicksNum}}
              td {{item.followerNum}}
              td {{item.followingNum}}
              td
        nothing-to-show(message='暂无数据', icon='fa-sitemap', ng-show='!data.length')

        ul.pager
          li
            button.btn.btn-link(ng-disabled='page === 1', ng-click='prev()') 上一页
          li
            button.btn.btn-link(ng-disabled='!hasNext', ng-click='next()') 下一页

      form
        .form-group.form-inline
          input.form-control.post-time-picker(ng-model='echartStart', datetimepicker, datetimepicker-options='{format: "YYYY-MM-DD"}')
          span.m-lr-5 -
          input.form-control.post-time-picker(ng-model='echartEnd', datetimepicker, datetimepicker-options='{format: "YYYY-MM-DD"}')
        .form-group.form-inline
          select.form-control(ng-model='echartType')
            option(ng-value='1') 日度
            option(ng-value='2') 月度
          button.btn.btn-primary.no-margin.m-lr-5(ng-click='getDataAnalysis()') 查询

      #main(style="width: 600px;height:400px;")
