.unselectable
  .col-md-12
    .widget-container.fluid-height.stf-device-list-tabs
      .widget-content.padded
        .form-group
          label.checkbox
            input(type='checkbox', ng-model='config.checkSsr')
            span 检查SSR
        .form-group
          label.checkbox-inline
            input(type='checkbox', ng-model='config.startInfo.status')
            span 设置分身名称:
            input.form-control.name-input(type='text', ng-model='config.startInfo.startName')
        button.btn.btn-primary(ng-click='save()') 保存
      #main(style="width: 600px;height:400px;")
