.cloud-control-layout
//功能栏目
uib-tabset.cloudLayout
  // 系统工具
  uib-tab(active='activeTabs.xt', select='focusSearch()')
    uib-tab-heading.tabWidth
      i.fa.fa-gear.fa-lg.color-violet
      span.color-lila 系统工具
    table.table
      label.xt
        .flex-content.xt
          a.logout(type='link', ng-href='https://www.jianshu.com/u/5ad61d0681ad', target='_blank')
            span.color-red 系统使用说明
        .flex-content.xt
          .btn.btn-primary(type='file', ng-file-select='installPic($files)') 导入图片到手机
          .btn.btn-primary(type='file', ng-file-select='pushFile($files)') 导入视频/文件到手机
          .btn.btn-primary(type='file', ng-file-select='installFile($files)') 安装程序到手机
        .flex-content.xt
          textarea.form-control.inline-block.textarea(ng-model='xt.shellName')
          button.btn.btn-primary.endBtn(ng-click='startShell()') 批量执行shell
        .flex-content.xt
          textarea.form-control.inline-block.textarea(ng-model='xt.pasteContent')
          button.btn.btn-primary.endBtn(ng-click='setContents()') 粘贴文字
        .flex-content.xt
          textarea.form-control.inline-block.textarea(ng-model='xt.contacts')
          button.btn.btn-primary.endBtn(ng-click='addContacts()') 添加通讯录
          button.btn.btn-primary.endBtn(ng-click='clearContacts()') 清空通讯录
        .flex-content.xt
          textarea.form-control.inline-block.textarea(ng-model='xt.mlUsrs')
          button.btn.btn-primary.endBtn(ng-click='autoLogin()') 自动登录
  // 屏幕监控
  uib-tab(active='activeTabs.jk', select='focusSearch()')
    uib-tab-heading.tabWidth
      i.fa.fa-apple.fa-lg.color-orange
      span.color-orange 屏幕监控
    table.table
      .loading(ng-if='status == 1')
        span 加载中...
      div(ng-if='status == 0')
        .total-control-toolbar
          .btn-group
            .btn.btn-primary(ng-class='{active: size === 1}', ng-click='changeSize(1)') 小
            .btn.btn-primary(ng-class='{active: size === 2}', ng-click='changeSize(2)') 中
            .btn.btn-primary(ng-class='{active: size === 3}', ng-click='changeSize(3)') 大
            .btn.btn-primary(ng-class='{active: size === 4}', ng-click='changeSize(4)') 超大
            .btn.btn-primary(ng-click='stopFun()') 停止所有功能
            .btn.btn-primary(ng-click='swipeUp()') 上滑
            .btn.btn-primary(ng-click='swipeDown()') 下滑
        .checkbox
          label(label-for='checkAll')
            input(type='checkbox' name='checkAll' ng-click='getAllDeviceChannel()' ng-checked='checkAll')
            span 全选
        .device-list.xt
          div(ng-repeat='(index, device) in devices')
            .device-control(ng-class='"device-control-size" + size', ng-if='device.state === "available" || device.state === "using"')
              .total-control-options(ng-if='device.serial === mainScreen.serial')
              control-panes(ng-if='device.serial === mainScreen.serial', serial='{{device.serial}}', main-screen='1', control-list='controlList')
              .device-note.device-name(ng-if='device.serial === mainScreen.serial', editable-text='device.notes', e-form='input', onaftersave="save(index)") {{device.notes || device.serial}}
                i.device-note-edit.fa.fa-pencil(ng-click="input.$show()", ng-hide="input.$visible")
              .total-control-options(ng-if='device.serial !== mainScreen.serial')
                button.btn.btn-link(ng-click='setMainDevice(index)') 设为主控
              control-panes(ng-if='device.serial !== mainScreen.serial', serial='{{device.serial}}')
              .checkbox.note-checkbox(ng-if='device.serial !== mainScreen.serial')
                label(label-for='{{device.serial}}')
                  input(type='checkbox',  ng-click='chooseChannel(device.channel)', value='{{device.serial}}', ng-checked='controlList.includes(device.channel)')
                span.device-note(editable-text='device.notes', e-form='input', onaftersave="save(index)") {{device.notes || device.serial}}
                  i.device-note-edit.fa.fa-pencil(ng-click="input.$show()" ng-hide="input.$visible")
  // 抖音
  uib-tab(active='activeTabs.dy', select='focusSearch()')
    uib-tab-heading
      i.fa.fa-video-camera.fa-lg.color-blue
      span.color-skyblue 抖音短视频
    uib-tabset.cloudLayout
      uib-tab(active='dyActiveTabs.setting', select='focusSearch()')
        uib-tab-heading
          i.fa.fa-video-camera.fa-lg.color-red
          span.color-red 系统设置管理
        table.table
          label.color-red.xt 可用抖音版本:11.2.0
            .flex-content.dy
              span.text 当前选中设备列表:
              textarea.form-control.inline-block.textarea.dyInput(ng-model='dy.deviceList')
            .flex-content.dy
              .btn.btn-primary(ng-click='startDy()') 打开抖音主界面
            .flex-content.dy
              span.text 全局功能操作间隔设置:
              input.form-control.sort-input(type='number', ng-model='dy.minWait')
              span.text 到:
              input.form-control.sort-input(type='number', ng-model='dy.maxWait')
      uib-tab(active='dyActiveTabs.live', select='focusSearch()')
        uib-tab-heading
          i.fa.fa-video-camera.fa-lg.color-yellow
          span.color-yellow 直播互动
        table.table
          .flex-content.dy 直播互动功能设置
          .flex-content.dy
            span.text 当前选中设备列表:
            textarea.form-control.inline-block.textarea.dyInput(ng-model='dy.deviceList')
          .flex-content.dy
            .text 设置直播id:
            textarea.form-control.inline-block.textarea.dyInput(ng-model='dy.liveId')
          .flex-content.dy
            span.text 随机关注榜单用户:
            input.form-control.sort-input(type='number', ng-model='dy.minTop')
            span.text 到:
            input.form-control.sort-input(type='number', ng-model='dy.maxTop')
          .flex-content.dy
            span.text 随机关注在线用户:
            input.form-control.sort-input(type='number', ng-model='dy.minOnline')
            span.text 到:
            input.form-control.sort-input(type='number', ng-model='dy.maxOnline')
          .flex-content.dy
            .text 随机评论话术:
            textarea.form-control.inline-block.textarea.dyInput(ng-model='dy.liveComment')
          .flex-content.dy
            label.checkbox.endBtn
              input(type='checkbox', ng-model='dy.autoBuy')
              span.text 橱窗自动购物
          .flex-content.dy
            .btn.btn-primary.endBtn(ng-click='dyLiveAuto()') 直播间互动
      uib-tab(active='dyActiveTabs.train', select='focusSearch()')
        uib-tab-heading
          i.fa.fa-video-camera.fa-lg.color-blue
          span.color-violet 养号管理
        table.table
          .flex-content.dy 养号管理功能设置
          .flex-content.xt
            span.text 当前选中设备列表:
            textarea.form-control.inline-block.textarea.dyInput(ng-model='dy.deviceList')
          .flex-content.dy
            .text 浏览总数设置:
            input.form-control.sort-input(type='number', ng-model='dy.homeViewNum')
          .flex-content.dy
            .text 随机点赞设置:
            input.form-control.sort-input(type='number', ng-model='dy.homeLikeNum')
          .flex-content.dy
            .text 随机评论设置:
            input.form-control.sort-input(type='number', ng-model='dy.homeCommentNum')
          .flex-content.dy
            .text 评论话术:
            textarea.form-control.inline-block.textarea.dyInput(ng-model='dy.homeCommentAll')
          .flex-content.dy
            .btn.btn-primary.endBtn(ng-click='dyHomeView()') 开始养号
      uib-tab(active='dyActiveTabs.video', select='focusSearch()')
        uib-tab-heading
          i.fa.fa-video-camera.fa-lg.color-white
          span.color-white 视频管理
        table.table
          .flex-content.dy 视频管理功能设置
          .flex-content.xt
            span.text 当前选中设备列表:
            textarea.form-control.inline-block.textarea.dyInput(ng-model='dy.deviceList')
          .flex-content.dy
            .btn.btn-primary(type='file', ng-file-select='pushFile($files)') 上传视频
          .flex-content.dy
            .text 设置转发视频标题:
            textarea.form-control.inline-block.textarea.dyInput(ng-model='dy.videoTitle')
          .flex-content.dy
            .text 设置位置:
            textarea.form-control.inline-block.textarea.dyInput(ng-model='dy.videoLoc')
          .flex-content.dy
            .text 设置@好友:
            textarea.form-control.inline-block.textarea.dyInput(ng-model='dy.videoAt')
          .flex-content.dy
            .btn.btn-primary.endBtn(ng-click='dySendVideo()') 视频转发
      uib-tab(active='dyActiveTabs.like', select='focusSearch()')
        uib-tab-heading
          i.fa.fa-video-camera.fa-lg.color-orange
          span.color-orange 点赞私信管理
        table.table
          .flex-content.dy.color-orange 点赞私信管理设置
          .flex-content.dy
            span.text.color-orange 当前选中设备列表:
            textarea.form-control.inline-block.textarea.dyInput(ng-model='dy.deviceList')
          .flex-content.dy
            span.text.color-orange 每页随机关注设置,最小值:
            input.form-control.sort-input(type='number', ng-model='dy.minPageNum')
            span.text.color-orange 最大值到:
            input.form-control.sort-input(type='number', ng-model='dy.maxPageNum')
            span.text.color-orange 隔日按照:
            input.form-control.sort-input(type='number', ng-model='dy.maxPageNum')
            span.text.color-orange 递增
          .flex-content.dy
            span.text.color-orange 每日添加上限:
            input.form-control.sort-input(type='number', ng-model='dy.allAddNum')
            span.text.color-orange 到:
            input.form-control.sort-input(type='number', ng-model='dy.allAddNum')
            span.text.color-orange 当日达到上限值后,自动停止运行脚本.
          .flex-content.dy
            .btn.btn-primary.endBtn(ng-click='dyAddContact()') 添加通讯录好友
            .btn.btn-primary.endBtn(ng-click='dyAddContact()') 批量发消息
          .flex-content.dy
            .text.color-orange 操作方式:
            select(ng-model='dy.addType',ng-options='x.val as x.name for x in [{val:1,name:"关注用户"},{val:2,name:"粉丝列表"},{val:3,name:"关注列表"}]')
          .flex-content.dy
            .text.color-orange 每页关注数设置:
            input.form-control.sort-input(type='number', ng-model='dy.addNum')
            .text.color-orange 到:
            input.form-control.sort-input(type='number', ng-model='dy.addNum')
            .text.color-orange 每页操作完毕后,自动翻页:
          .flex-content.dy
            .text.color-orange 关注总数设置:
            input.form-control.sort-input(type='number', ng-model='dy.addAllNum')
            .text.color-orange 到:
            input.form-control.sort-input(type='number', ng-model='dy.addAllNum')
            .text.color-orange 当日关注总数达到上限后,自动停止运行脚本.
          .flex-content.dy
            .text.color-orange 配置用户id:
            textarea.form-control.inline-block.textarea.dyInput(ng-model='dy.searchId')
          .flex-content.dy
            .btn.btn-primary.endBtn(ng-click='dySearchAdd()') 自动关注资源
            .btn.btn-primary.endBtn(ng-click='dySearchAdd()') 自动关注粉丝列表
            .btn.btn-primary.endBtn(ng-click='dySearchAdd()') 自动操作关注列表
      uib-tab(active='dyActiveTabs.comment', select='focusSearch()')
        uib-tab-heading
          i.fa.fa-video-camera.fa-lg.color-blue
          span.color-blue 截流管理
        table.table
          .flex-content.dy 截流管理设置
          .flex-content.xt
            span.text 当前选中设备列表:
            textarea.form-control.inline-block.textarea.dyInput(ng-model='dy.deviceList')
          .flex-content.dy
            span.text 评论视频数量范围设置:
            input.form-control.sort-input(type='number', ng-model='dy.minCommentNum')
            span.text 到:
            input.form-control.sort-input(type='number', ng-model='dy.maxCommentNum')
          .flex-content.dy
            span.text 评论间隔范围设置:
            input.form-control.sort-input(type='number', ng-model='dy.minCommentDelay')
            span.text 到:
            input.form-control.sort-input(type='number', ng-model='dy.maxCommentDelay')
          .flex-content.dy
            label.checkbox
              input(type='checkbox', ng-model='ks.commentLike')
              span.text 是否点赞
          .flex-content.dy
            label.checkbox
              input(type='checkbox', ng-model='ks.commentAdd')
              span.text 是否关注
          .flex-content.dy
            span.text 评论内容设置:
            textarea.form-control.inline-block.textarea.dyInput(ng-model='dy.commentMsg')
          .flex-content.dy
            span.text @好友设置:
            textarea.form-control.inline-block.textarea.dyInput(ng-model='dy.commentAt')
          .flex-content.dy
            .btn.btn-primary.endBtn(ng-click='dyComment()') 开始截流
      uib-tab(active='dyActiveTabs.msg', select='focusSearch()')
        uib-tab-heading
          i.fa.fa-video-camera.fa-lg.color-pink
          span.color-pink 群发管理
        table.table
          .flex-content.dy 群发管理设置
          .flex-content.xt
            span.text 当前选中设备列表:
            textarea.form-control.inline-block.textarea.dyInput(ng-model='dy.deviceList')
          .flex-content.dy
            span.text 群发总数设置:
            input.form-control.sort-input(type='number', ng-model='dy.minMsgNum')
            span.text 到:
            input.form-control.sort-input(type='number', ng-model='dy.maxMsgNum')
          .flex-content.dy
            span.text 群发任务间隔设置:
            input.form-control.sort-input(type='number', ng-model='dy.minMsgDelay')
            span.text 到:
            input.form-control.sort-input(type='number', ng-model='dy.maxMsgDelay')
          .flex-content.dy
            span.text 群发内容设置:
            textarea.form-control.inline-block.textarea.dyInput(ng-model='dy.allMsg')
          .flex-content.dy
            .btn.btn-primary.endBtn(ng-click='dyAllMsg()') 开始群发消息
      uib-tab(active='dyActiveTabs.res', select='focusSearch()')
        uib-tab-heading
          i.fa.fa-video-camera.fa-lg.color-skyblue
          span.color-skyblue 素材管理
        table.table
          .flex-content.dy 素材管理设置
          .flex-content.xt
            span.text 当前选中设备列表:
            textarea.form-control.inline-block.textarea.dyInput(ng-model='dy.deviceList')
          .flex-content.dy
            span.text 添加评论素材:
            textarea.form-control.inline-block.textarea.dyInput(ng-model='dy.commentRes')
          .flex-content.dy
            button.btn.btn-primary(ng-click='addRes()') 添加到素材库
          .col-md-12
            button.btn.btn-primary(ng-click='clearRes()') 清空素材库
          table.table.table-hover.dataTable.ng-table
            thead
              tr
                th.header
                  div 设备
                th.header
                  div 素材名称
                th.header
                  div 素材状态
      uib-tab(active='dyActiveTabs.task', select='focusSearch()')
        uib-tab-heading
          i.fa.fa-video-camera.fa-lg.color-blue
          span.color-blue 任务管理
        table.table
          .flex-content.dy 任务管理设置
          .flex-content.xt
            span.text 当前选中设备列表:
            textarea.form-control.inline-block.textarea.dyInput(ng-model='dy.deviceList')
          .col-md-12
            button.btn.btn-primary(ng-click='clearTask()') 清空任务列表
          table.table.table-hover.dataTable.ng-table
            thead
              tr
                th.header
                  div 设备
                th.header
                  div 任务名称
                th.header
                  div 任务进度
                th.header
                  div 任务参数
                th.header
                  div 时间
                th.header
                  div 日志
      uib-tab(active='dyActiveTabs.task', select='focusSearch()')
        uib-tab-heading
          i.fa.fa-video-camera.fa-lg.color-orange
          span.color-orange 点赞资源库
        table.table
      uib-tab(active='dyActiveTabs.task', select='focusSearch()')
        uib-tab-heading
          i.fa.fa-video-camera.fa-lg.color-red
          span.color-red 评论话术库
        table.table
      uib-tab(active='dyActiveTabs.task', select='focusSearch()')
        uib-tab-heading
          i.fa.fa-video-camera.fa-lg.color-yellow
          span.color-yellow 资源采集
        table.table
      uib-tab(active='dyActiveTabs.task', select='focusSearch()')
        uib-tab-heading
          i.fa.fa-video-camera.fa-lg.color-lila
          span.color-lila 直播数据
        table.table
      uib-tab(active='dyActiveTabs.task', select='focusSearch()')
        uib-tab-heading
          i.fa.fa-video-camera.fa-lg.color-pink
          span.color-pink
        table.table
      uib-tab(active='dyActiveTabs.task', select='focusSearch()')
        uib-tab-heading
          i.fa.fa-video-camera.fa-lg.color-green
          span.color-green 数据分析
        table.table
      uib-tab(active='dyActiveTabs.task', select='focusSearch()')
        uib-tab-heading
          i.fa.fa-video-camera.fa-lg.color-brown
          span.color-brown 抖音工作日志
        table.table

  //微信
  uib-tab(active='activeTabs.wx', select='focusSearch()')
    uib-tab-heading
      i.fa.fa-wechat.fa-lg.color-green
      span.color-green 微信
    table.table
      label 提示:推荐使用版本(7.0.14)
        .flex-content
          .btn.btn-primary(ng-click='startWx()') 打开微信
        .flex-content.xt
          span.text 每页随机关注:
          input.form-control.sort-input(type='number', ng-model='wx.minPageNum')
          span.text 到:
          input.form-control.sort-input(type='number', ng-model='wx.maxPageNum')
          span.text 添加总数:
        .flex-content.xt
          input.form-control.sort-input(type='number', ng-model='wx.allAddNum')
          span.text 设置加好友打招呼话术:
          textarea.form-control.inline-block.textarea(ng-model='wx.sayTxts')
          .btn.btn-primary.endBtn(ng-click='wxAddContact()') 添加通讯录好友
        .flex-content.xt
          .text 配置朋友圈文字:
          textarea.form-control.inline-block.textarea(ng-model='wx.circleTxt')
          .btn.btn-primary.endBtn(ng-click='sendCircle()') 发送朋友圈
        .flex-content.xt
          .text 微信ID:
          textarea.form-control.inline-block.textarea.short(ng-model='wx.wxIdList')
          .text 打招呼话术:
          textarea.form-control.inline-block.textarea(ng-model='wx.sayList')
          .btn.btn-primary.endBtn(ng-click='wxSearchAdd()') 精准加人
  // 快手
  uib-tab(active='activeTabs.ks', select='focusSearch()')
    uib-tab-heading
      i.fa.fa-file-video-o.fa-lg.color-yellow
      span.color-yellow 快手
    table.table
      label 适用版本号:7.4.30.14167
        .flex-content
          .btn.btn-primary(ng-click='startKs()') 打开快手
        .flex-content.xt
          span.text 设置标签:
          textarea.form-control.inline-block.textarea(ng-model='ks.searchIds')
          span.text 评论话术:
          textarea.form-control.inline-block.textarea(ng-model='ks.comments')
        .flex-content.xt
          span.text 评论
          input.form-control.sort-input(type='number', ng-model='ks.commentNum')
          span.text 单位:条 后观看视频
          input.form-control.sort-input(type='number', ng-model='ks.minView')
          span.text 到
          input.form-control.sort-input(type='number', ng-model='ks.maxView')
          span.text (单位:秒) 设置标签类型:
          select(ng-model='ks.commentType', ng-options='x.val as x.name for x in [{val:1,name:"热门"},{val:2,name:"最新"}]')
          button.btn.btn-primary.endBtn(ng-click='ksSearchComment()') 精准评论
        .flex-content.xt
          span.text 用户id:
          textarea.form-control.inline-block.textarea(ng-model='ks.searchUsrs')
          span.text 话术:
          textarea.form-control.inline-block.textarea(ng-model='ks.searchTxts')
        .flex-content.xt
          span.text 设置操作帖子数量:
          input.form-control.sort-input(type='number', ng-model='ks.postNum')
          button.btn.btn-primary.endBtn(ng-click='ksUsrsComment()') 指定用户评论
          button.btn.btn-primary.endBtn(ng-click='ksUsrsMsg()') 指定用户私信
        .flex-content.xt
          span.text 采集功能:
          textarea.form-control.inline-block.textarea(ng-model='ks.searchIds')
          span.text 采集选项:
            label.checkbox
              input(type='checkbox', ng-model='ks.videoId')
              span.text 视频用户id
            label.checkbox
              input(type='checkbox', ng-model='ks.videoCommentId')
              span.text 评论用户id
          span.text 筛选条件:
            label.checkbox
              input(type='checkbox', ng-model='ks.openComment')
              span.text 评论开放的用户
            label.checkbox
              input(type='checkbox', ng-model='ks.nearVideo')
              span.text 最近3天有动态的用户
            label.checkbox
              input(type='checkbox', ng-model='ks.hasUsr')
              span.text 筛选重复用户
          button.btn.btn-primary.endBtn(ng-click='ksGetInfo()') 开始采集
        .flex-content.xt
          span.text 浏览总数:
          input.form-control.sort-input(type='number', ng-model='ks.homeViewNum')
          span.text 随机点赞:
          input.form-control.sort-input(type='number', ng-model='ks.homeLikeNum')
          span.text 随机评论:
          input.form-control.sort-input(type='number', ng-model='ks.homeCommentNum')
          span.text 评论话术:
          textarea.form-control.inline-block.textarea(ng-model='ks.homeCommentAll')
          button.btn.btn-primary.endBtn(ng-click='ksHomeView()') 首页养号
  // 小红书
  uib-tab(active='activeTabs.xhs', select='focusSearch()')
    uib-tab-heading
      i.fa.fa-book.fa-lg.color-red
      span.color-red 小红书
    table.table
      label 小红书:
        .flex-content
          button.btn.btn-primary(ng-click='startXhs()') 打开小红书
  // 火山视频
  uib-tab(active='activeTabs.hs', select='focusSearch()')
    uib-tab-heading
      i.fa.fa-fire.fa-lg.color-pink
      span.color-pink 火山视频
    table.table
      label 火山视频:
        .flex-content
          button.btn.btn-primary(ng-click='startHs()') 打开火山视频
  // 今日头条
  uib-tab(active='activeTabs.jr', select='focusSearch()')
    uib-tab-heading
      i.fa.fa-newspaper-o.fa-lg.color-blue
      span.color-blue 今日头条
    table.table
      label 今日头条:
        .flex-content
          button.btn.btn-primary(ng-click='startTt()') 打开今日头条
  // 微博
  uib-tab(active='activeTabs.wb', select='focusSearch()')
    uib-tab-heading
      i.fa.fa-weibo.fa-lg.color-pink
      span.color-red 微博
    table.table
      label 微博养号:
        .flex-content
          button.btn.btn-primary(ng-click='startWb()') 打开微博
  // 陌陌
  uib-tab(active='activeTabs.mm', select='focusSearch()')
    uib-tab-heading
      i.fa.fa-medkit.fa-lg.color-green
      span.color-green 陌陌
    table.table
      label 陌陌养号:
        .flex-content
          button.btn.btn-primary(ng-click='startMm()') 打开陌陌
  // QQ
  uib-tab(active='activeTabs.mm', select='focusSearch()')
    uib-tab-heading
      i.fa.fa-qq.fa-lg.color-blue
      span.color-blue QQ
    table.table
      label 陌陌养号:
        .flex-content
          button.btn.btn-primary(ng-click='startMm()') 打开陌陌
  // 西瓜视频
  uib-tab(active='activeTabs.mm', select='focusSearch()')
    uib-tab-heading
      i.fa.fa-windows.fa-lg.color-red
      span.color-red 西瓜视频
    table.table
      label 陌陌养号:
        .flex-content
          button.btn.btn-primary(ng-click='startMm()') 打开陌陌
  // TikTok
  uib-tab(active='activeTabs.mm', select='focusSearch()')
    uib-tab-heading
      i.fa.fa-times.fa-lg.color-brown
      span.color-brown TikTok
    table.table
      label 陌陌养号:
        .flex-content
          button.btn.btn-primary(ng-click='startMm()') 打开陌陌
  // FaceBook
  uib-tab(active='activeTabs.mm', select='focusSearch()')
    uib-tab-heading
      i.fa.fa-facebook.fa-lg.color-blue
      span.color-blue FaceBook
    table.table
      label 陌陌养号:
        .flex-content
          button.btn.btn-primary(ng-click='startMm()') 打开陌陌
  // Instagram
  uib-tab(active='activeTabs.mm', select='focusSearch()')
    uib-tab-heading
      i.fa.fa-instagram.fa-lg.color-yellow
      span.color-yellow Instagram
    table.table
      label 陌陌养号:
        .flex-content
          button.btn.btn-primary(ng-click='startMm()') 打开陌陌
  // WhatsApp
  uib-tab(active='activeTabs.mm', select='focusSearch()')
    uib-tab-heading
      i.fa.fa-whatsapp.fa-lg.color-pink
      span.color-pink WhatsApp
    table.table
      label 陌陌养号:
        .flex-content
          button.btn.btn-primary(ng-click='startMm()') 打开陌陌
  // Twitter
  uib-tab(active='activeTabs.mm', select='focusSearch()')
    uib-tab-heading
      i.fa.fa-twitter.fa-lg.color-orange
      span.color-orange Twitter
    table.table
      label 陌陌养号:
        .flex-content
          button.btn.btn-primary(ng-click='startMm()') 打开陌陌

