.widget-container(ng-controller='ScriptCtrl')
  uib-tabset.script-layout
    // 功能日志
    uib-tab
      uib-tab-heading.tabLayout
        i.fa.fa-newspaper-o.fa-lg.color-blue
        span.color-blue 功能日志
      label.tabLayout
        .col-md-12
          .widget-container.fluid-height.stf-device-list-tabs
            .widget-content.padded
              table.table.table-hover.dataTable.ng-table
                thead
                  tr
                    th.header
                      div 设备
                    th.header
                      div 时间
                    th.header
                      div 日志
                tbody(ng-if='logs.length')
                  tr(ng-repeat='item in logs', ng-class='{success: item.status == 3, danger: item.status == 6}')
                    td
                      div {{item.notes || item.serial}}
                    td
                      div {{item.created}}
                    td
                      div {{item.msg}}

              ul.pager(ng-show='logs.length')
                li
                  button.btn.btn-link(ng-disabled='page <= 1', ng-click='prev()') 上一页
                li
                  button.btn.btn-link(ng-disabled='page >= totalPage', ng-click='next()') 下一页
              nothing-to-show(message='暂无日志', icon='fa-sitemap', ng-show='!logs.length')

    // 抖音
    uib-tab
      uib-tab-heading.tabLayout
        i.fa.fa-video-camera.fa-lg.color-black
        span.color-black 抖音
      label.xt.color-red 提示:功能适用版本(12.2.0),动态页面获取元素可能失败,运行失败请停止功能后重新运行功能.
        .flex-content.xt
          span.color-black 第一步:设置功能执行参数
        .flex-content.xt
          span.color-black.leftText 设置id库:
          textarea.form-control.inline-block.textarea.short(ng-model='dy.idList')
          span.color-black.midText 设置话术库:
          textarea.form-control.inline-block.textarea.long(ng-model='dy.sayList')
        .flex-content.xt
          span.color-red.leftText 参数说明: id库及话术库以换行隔开 一行为一个id/话术 执行任务时会从id库/话术库中随机抽取id/话术执行 如需指定id/话术设置一个即可
        .flex-content.xt
          span.color-black 第二步:启动脚本
        .flex-content.xt
          button.btn.btn-primary.color-red(ng-click='stopFunc()') 停止功能
          button.btn.btn-primary(ng-click='dyStart()') 打开抖音
          button.btn.btn-primary(ng-click='dyEnterLive()') 进入直播间
          button.btn.btn-primary(ng-click='dyLiveLike()') 直播间点赞
          button.btn.btn-primary(ng-click='dyLiveComment()') 直播间评论
          button.btn.btn-primary(ng-click='dyLiveShop()') 直播间加小黄车
        .flex-content.xt
          button.btn.btn-primary(ng-click='dyNearByAdd()') 同城关注
          button.btn.btn-primary(ng-click='dyAutoAdd()') 自动关注
          button.btn.btn-primary(ng-click='dyUnFollow()') 自动取关
          button.btn.btn-primary(ng-click='dyFollowBack()') 自动回关
          button.btn.btn-primary(ng-click='dyPublish()') 发布作品
          button.btn.btn-primary(ng-click='dyViewVideo()') 刷视频
          button.btn.btn-primary(ng-click='dyShareVideo()') 视频转发

    // 快手
    uib-tab
      uib-tab-heading.tabLayout
        i.fa.fa-hand-o-up.fa-lg.color-orange
        span.color-orange 快手
      label.xt.color-red 提示:功能适用版本(7.6.50.15529),动态页面获取元素可能失败,运行失败请停止功能后重新运行功能.
        .flex-content.xt
          span.color-orange 第一步:设置功能执行参数
        .flex-content.xt
          span.color-orange.leftText 设置id库:
          textarea.form-control.inline-block.textarea.short(ng-model='ks.idList')
          span.color-orange.midText 设置话术库:
          textarea.form-control.inline-block.textarea.long(ng-model='ks.sayList')
        .flex-content.xt
          span.color-red.leftText 参数说明: id库及话术库以换行隔开 一行为一个id/话术 执行任务时会从id库/话术库中随机抽取id/话术执行 如需指定id/话术设置一个即可
        .flex-content.xt
          span.color-orange 第二步:启动脚本
        .flex-content.xt
          button.btn.btn-primary.color-red(ng-click='stopFunc()') 停止功能
          button.btn.btn-primary(ng-click='ksStart()') 打开快手
          button.btn.btn-primary(ng-click='ksEnterLive()') 进入直播间
          button.btn.btn-primary(ng-click='ksLiveLike()') 直播间点赞
          button.btn.btn-primary(ng-click='ksLiveComment()') 直播间评论
          button.btn.btn-primary(ng-click='ksLiveGift()') 直播间送小爱心
        .flex-content.xt
          button.btn.btn-primary(ng-click='ksUnFollow()') 自动取关
          button.btn.btn-primary(ng-click='ksFollowBack()') 自动回关
          button.btn.btn-primary(ng-click='ksContactAdd()') 通讯录加关注
          button.btn.btn-primary(ng-click='ksRecommendAdd()') 推荐列表加关注
          button.btn.btn-primary(ng-click='ksCommentAdd()') 评论列表加关注
          button.btn.btn-primary(ng-click='ksCommentLike()') 评论列表点赞
        .flex-content.xt
          button.btn.btn-primary(ng-click='ksCommentMsg()') 评论列表私信
          button.btn.btn-primary(ng-click='ksListMsg()') 私信列表私信

    // 微信
    uib-tab
      uib-tab-heading.tabLayout
        i.fa.fa-wechat.fa-lg.color-green
        span.color-green 微信
      label.xt.color-red 提示:功能适用版本(7.0.17),动态页面获取元素可能失败,运行失败请停止功能后重新运行功能.
        .flex-content.xt
          span.color-green 第一步:设置功能执行参数
        .flex-content.xt
          span.color-green.leftText 设置id库:
          textarea.form-control.inline-block.textarea.short(ng-model='wx.idList')
          span.color-green.midText 设置话术库:
          textarea.form-control.inline-block.textarea.long(ng-model='wx.sayList')
        .flex-content.xt
          span.color-green.leftText 设置操作数量:
          input.form-control.sort-input(type='number', ng-model='wx.pageGroup')
        .flex-content.xt
          button.btn.btn-primary(ng-click='saveConfig()') 保存配置
        .flex-content.xt
          span.color-red.leftText 参数说明: id库及话术库以换行隔开 一行为一个id/话术 执行任务时会从id库/话术库中随机抽取id/话术执行 如需指定id/话术设置一个即可
        .flex-content.xt
          span.color-green 第二步:启动脚本
        .flex-content.xt
          button.btn.btn-primary(ng-click='wxStartApp(1)') 微信1号
          button.btn.btn-primary(ng-click='wxStartApp(2)') 微信2号
          button.btn.btn-primary(ng-click='wxStartApp(3)') 微信3号
          button.btn.btn-primary(ng-click='wxStartApp(4)') 微信4号
          button.btn.btn-primary(ng-click='wxStartApp(5)') 微信5号
          button.btn.btn-primary(ng-click='wxStartApp(6)') 微信6号
        .flex-content.xt
          button.btn.btn-primary.color-red(ng-click='stopFunc()') 停止功能
          button.btn.btn-primary(ng-click='wxStart()') 打开微信
          button.btn.btn-primary(ng-click='wxAddSearch()') 搜索加好友
          button.btn.btn-primary(ng-click='wxAddContact()') 通讯录加好友
          button.btn.btn-primary(ng-click='wxAddGroup()') 群加好友
          button.btn.btn-primary(ng-click='wxGroupAdd()') 添加群成员
        .flex-content.xt
          button.btn.btn-primary(ng-click='wxNewAddGroup()') 新好友添加群
          button.btn.btn-primary(ng-click='wxCirclePublish()') 朋友圈转发
          button.btn.btn-primary(ng-click='wxCircleLike()') 朋友圈点赞
          button.btn.btn-primary(ng-click='wxCircleComment()') 朋友圈评论

    // 闲鱼
    uib-tab
      uib-tab-heading.tabLayout
        i.fa.fa-share-alt.fa-lg.color-pink
        span.color-pink 闲鱼
      label.xt.color-red 提示:功能适用版本(6.7.50),动态页面获取元素可能失败,运行失败请停止功能后重新运行功能.
        .flex-content.xt
          span.color-pink 第一步:设置功能执行参数
        .flex-content.xt
          span.color-pink.leftText 设置id库:
          textarea.form-control.inline-block.textarea.short(ng-model='xy.idList')
          span.color-pink.midText 设置话术库:
          textarea.form-control.inline-block.textarea.long(ng-model='xy.sayList')
        .flex-content.xt
          span.color-red.leftText 参数说明: id库及话术库以换行隔开 一行为一个id/话术 执行任务时会从id库/话术库中随机抽取id/话术执行 如需指定id/话术设置一个即可
        .flex-content.xt
          span.color-pink 第二步:启动脚本
        .flex-content.xt
          button.btn.btn-primary.color-red(ng-click='stopFunc()') 停止功能
          button.btn.btn-primary(ng-click='xyStart()') 打开闲鱼
          button.btn.btn-primary(ng-click='xyListMsg()') 好友列表私信
          button.btn.btn-primary(ng-click='xyHomeView()') 首页浏览商品
          button.btn.btn-primary(ng-click='xyViewPost()') 浏览指定商品
          button.btn.btn-primary(ng-click='xyListAdd()') 粉丝列表加关注


