:root {
  --dark-color: #2c2c2c;
  --black-color: rgb(26, 26, 26);
  --gray-color: #999999;
}

.stf-top-bar {
  background-color: var(--dark-color);
}

.col-xs-3 {
  background-color: var(--dark-color);
}

/*群控*/
.pane-center {
  background-color: var(--black-color);
}


