.unselectable
  .col-md-12
    .widget-container.fluid-height
      .while-list-content
        form.form
          .form-group
            label.topTxt 白名单开始状态
            input(bs-switch, type='checkbox', ng-if='status', ng-model='$parent.whiteListStatus', ng-change='changeSwitch()')
            textarea.form-control.textarea.inputTxt(ng-model='whiteListStr')
            button.btn.btn-primary.belowBtn(ng-click='addWhiteList()') 添加
        .pull-left
          .form-inline
            .form-group
              input.form-control(placeholder='输入要搜索的白名单名称', ng-model='search')
              button.btn.btn-primary.rightBtn(ng-click='searchList()') 搜索
        table.table.table-hover.dataTable.ng-table
          thead
            tr
              th.header
                div 名称
              th.header(style='width: 100px;')
                div 操作
          tbody
            tr(ng-repeat='(index, item) in list')
              td
                div {{item}}
              td
                button.btn(ng-click='del(index)') 删除
        nothing-to-show(message='暂无数据', ng-show='!list.length')
        ul.pager
          li
            button.btn.btn-link(ng-disabled='page === 1', ng-click='prev()') 上一页
          li
            button.btn.btn-link(ng-disabled='!hasNext', ng-click='next()') 下一页

