.while-list-content {
  margin: 10px;
  padding: 20px 0;
}

.topTxt {
  margin-right: 10px;
}

.belowBtn, .inputTxt {
  margin-top: 10px;
}

.rightBtn {
  align-content: center;
  margin-left: 5px;
}
