.unselectable
  .col-md-12
    .widget-container.fluid-height
      .while-list-content
        form.form
          .form-group
            label 开启状态
            input(bs-switch, type='checkbox', switch-size='small', switch-on-text='开启', ng-if='status'
            switch-off-text='关闭',, ng-model='$parent.whiteListStatus',
          ng-false-value="0", ng-true-value="1", ng-change='changeSwitch()')

        .form-group
          textarea.form-control.textarea(ng-model='whiteListStr')
          .color-blue Tips:当前白名单中的用户不能被取消关注操作(每个词汇之间用换行隔开)
          button.btn.btn-primary(ng-click='addWhiteList()') 添加

        .pull-left
          .form-inline
            .form-group
              input.form-control(placeholder='请输入黑名单名称', ng-model='search')
            button.btn.btn-primary.no-margin(ng-click='searchList()') 搜索
        table.table.table-hover.dataTable.ng-table
          thead
            tr
              th.header
                div 名称
              th.header(style='width: 100px;')
                div 操作
          tbody
            tr(ng-repeat='(index, item) in list')
              td
                div {{item}}
              td
                button.btn(ng-click='del(index)') 删除

        nothing-to-show(message='暂无数据', icon='fa-sitemap', ng-show='!list.length')

        ul.pager
          li
            button.btn.btn-link(ng-disabled='page === 1', ng-click='prev()') 上一页
          li
            button.btn.btn-link(ng-disabled='!hasNext', ng-click='next()') 下一页

