// 功能 Ins 关注设置详情界面
.unselectable
  .col-md-12(ng-if='status')
    .widget-container.fluid-height
      nothing-to-show(message='{{error}}', icon='fa-sitemap', ng-show='error')
      .content(ng-if='insAccount.account')
        label [关注配置清单]
      form.form(ng-if='!error')
        .form-group
          label 开启状态
          input(bs-switch, type='checkbox', switch-size='small', switch-on-text='开启',
            switch-off-text='关闭', ng-model='insAccount.config.follow.status', ng-true-value="1",
            ng-false-value="0", ng-change="switchChange()")
        .form-group
          label.checkbox
            input(type='checkbox', ng-model='insAccount.config.follow.isTest')
            span 开启测试模式
        .form-group
          label.checkbox
            input(type='checkbox', ng-model='insAccount.config.follow.checkSsr')
            span 检查SSR
        .form-group
          label.checkbox-inline
            input(type='checkbox', ng-model='insAccount.config.follow.startInfo.status')
            span 设置分身名称:
            input.form-control.name-input(type='text', ng-model='insAccount.config.follow.startInfo.startName')
        .form-group
          span 对组的每次操作间隔设置:
          input.form-control.sort-input(type='number', ng-model='insAccount.config.follow.minWait')
          span 到
          input.form-control.sort-input(type='number', ng-model='insAccount.config.follow.maxWait')
          span 单位:分钟
          span.color-blue Tips:对每组的操作间隔(范围取随机值 单位:分钟)
        .form-group
          span 对每组关注人数设置:
          input.form-control.sort-input(type='number', ng-model='insAccount.config.follow.minPerson')
          span 到
          input.form-control.sort-input(type='number', ng-model='insAccount.config.follow.maxPerson')
          span (单位:个)..   对组的每个人操作间隔:
          input.form-control.sort-input(type='number', ng-model='insAccount.config.follow.minDelay')
          span 到
          input.form-control.sort-input(type='number', ng-model='insAccount.config.follow.maxDelay')
          span 单位:秒
          span.color-blue Tips:每组每个人的操作间隔范围(范围取随机值  单位:个 单位:秒)
        .form-group
          span 对每天关注总数上限设置: 每天关注
          input.form-control.sort-input(type='number', ng-model='insAccount.config.follow.minDay')
          span 到
          input.form-control.sort-input(type='number', ng-model='insAccount.config.follow.maxDay')
          span (单位:个)..   每天增加
          input.form-control.sort-input(type='number', ng-model='insAccount.config.follow.addDay')
          span (单位:个)..   直到每天最多达到
          input.form-control.sort-input(type='number', ng-model='insAccount.config.follow.topDay')
          span (单位:个)..
          span.color-blue Tips:用来限制每天关注的总数(范围取随机值  单位:个 单位:个 单位:个)
        .form-group
          span 当上面的选项中每天达到最多后 则按:
          input.form-control.sort-input(type='number', ng-model='insAccount.config.follow.fullMinDay')
          span 到
          input.form-control.sort-input(type='number', ng-model='insAccount.config.follow.fullMaxDay')
          span 随机范围执行功能(单位:个)
        .form-group
          span 设置执行功能时间段:
          input.form-control.sort-input.time-start(ng-model='insAccount.config.follow.excute.start', datetimepicker, datetimepicker-options='{format: "HH:mm"}')
          span 到
          input.form-control.sort-input.time-end(ng-model='insAccount.config.follow.excute.end', datetimepicker, datetimepicker-options='{format: "HH:mm"}')
          span.color-blue Tips:执行功能的时间段
          //多个checkbox不会写
        .form-group
          span 设置操作日期:
          label.checkbox-inline(ng-repeat='(key, day) in weekday')
            input(type='checkbox', ng-model='selectedWeek[key]', name='weekday', ng-value='{{day.value}}')
            span {{day.title}}

        .content
          label *********筛选配置*********
        .form-group
          label 不使用筛选功能
          input(bs-switch, type='checkbox', switch-size='small', switch-on-text='开启',
            switch-off-text='关闭', ng-model='insAccount.config.follow.filtStatus', ng-true-value="1")
        .form-group
          label.checkbox
            input(type='checkbox', ng-model='insAccount.config.follow.skipSecretAccount')
            span 跳过私密用户(全局设置)
        //.form-group
        //  label.checkbox
        //    input(type='checkbox', ng-model='insAccount.config.follow.skipNonEnglish')
        //    span 跳过非英文用户
        .form-group
          label.checkbox
            input(type='checkbox', ng-model='insAccount.config.follow.hasProfile')
            span 跳过没有个人简介的用户
        .form-group
          label.checkbox
            input(type='checkbox', ng-model='insAccount.config.follow.skipFollowers')
            span 跳过已关注用户
        .form-group
          label.checkbox
            input(type='checkbox', ng-model='insAccount.config.follow.skipBussiness')
            span 跳过有商业标签的用户
        .form-group
          label.checkbox
            input(type='checkbox', ng-model='insAccount.config.follow.skipWebsite')
            span 跳过有网站资料的用户
        //.form-group
        //  label.checkbox
        //    input(type='checkbox', ng-model='insAccount.config.follow.skipPhone')
        //    span 跳过有手机号码的用户
        //.form-group
        //  label.checkbox
        //    input(type='checkbox', ng-model='insAccount.config.follow.skipWaitTime')
        //    span 跳过搜索后没有结果的资源 并将资源拉入黑名单
        .form-group
          label.checkbox-inline
            input(type='checkbox', ng-model='insAccount.config.follow.followerStatus')
            span 用户拥有粉丝范围:
            input.form-control.sort-input(type='number', ng-model='insAccount.config.follow.minFollowers')
            span 到
            input.form-control.sort-input(type='number', ng-model='insAccount.config.follow.maxFollowers')
            span.color-blue Tips:设置一个范围值 需要当前用户的粉丝数量达到这个范围值
        .form-group
          label.checkbox-inline
            input(type='checkbox', ng-model='insAccount.config.follow.followingStatus')
            span 用户拥有关注范围:
            input.form-control.sort-input(type='number', ng-model='insAccount.config.follow.minFollowing')
            span 到
            input.form-control.sort-input(type='number', ng-model='insAccount.config.follow.maxFollowing')
            span.color-blue Tips:设置一个范围值 需要当前用户的关注数量达到这个范围值
        .form-group
          input(type='checkbox', ng-model='insAccount.config.follow.lanStatus')
          span 对用户语言类型的筛选
            select(ng-model='insAccount.config.follow.language')
              option(value='{{1}}') 中文
              option(value='{{2}}') 英文
              option(value='{{3}}') 中文+英文
        .form-group
          label.checkbox-inline
            input(type='checkbox', ng-model='insAccount.config.follow.postTimeStatus')
            span 对用户帖子发布时间的筛选: 筛选用户的前
            //input.form-control.sort-input(type='number', ng-model='insAccount.config.follow.postTimeBefore')
            //span 条(最大值12)帖子是否有:
            input.form-control.sort-input(type='number', ng-model='insAccount.config.follow.postTimeDay')
            span 天(单位:天)以内的帖子
        .form-group
          label.checkbox-inline
            input(type='checkbox', ng-model='insAccount.config.follow.postCommentStatus')
            span 对用户帖子评论数量的筛选: 筛选用户的前
            input.form-control.sort-input(type='number', ng-model='insAccount.config.follow.postCommentBefore')
            span 条(最大值12)帖子是否有:
            input.form-control.sort-input(type='number', ng-model='insAccount.config.follow.postCommentMinDay')
            span 到
            input.form-control.sort-input(type='number', ng-model='insAccount.config.follow.postCommentMaxDay')
            span (单位:条)随机范围内的帖子
        .form-group
          label.checkbox
            input(type='checkbox', ng-model='insAccount.config.follow.followingWords.status')
            span 词汇黑名单过滤:
            textarea.form-control.textarea(ng-model='insAccount.config.follow.followingWords.words')
          span.color-blue Tips:当用户的个人资料中含有以下黑名单词汇时则过滤(每个词汇之间用换行隔开)

        .content
          label *********操作后关注配置*********
        .form-group
          label.checkbox-inline
            input(type='checkbox', ng-model='insAccount.config.follow.optAfterInfo.afterViewStatus')
            span 看故事后关注: 关注
            input.form-control.sort-input(type='number', ng-model='insAccount.config.follow.optAfterInfo.afterViewMin')
            span 到
            input.form-control.sort-input(type='number', ng-model='insAccount.config.follow.optAfterInfo.afterViewMax')
            span 以后,随机一个看故事操作
        .form-group
          label.checkbox-inline
            input(type='checkbox', ng-model='insAccount.config.follow.optAfterInfo.afterThumbStatus')
            span 点赞后关注: 关注
            input.form-control.sort-input(type='number', ng-model='insAccount.config.follow.optAfterInfo.afterThumbMin')
            span 到
            input.form-control.sort-input(type='number', ng-model='insAccount.config.follow.optAfterInfo.afterThumbMax')
            span 以后,随机一个用户对帖子点赞操作, 在前
            input.form-control.sort-input(type='number', ng-model='insAccount.config.follow.optAfterInfo.afterThumbTotal')
            span 条帖子中随机取(最大值6)
            input.form-control.sort-input(type='number', ng-model='insAccount.config.follow.optAfterInfo.afterThumbChoice')
            span 条帖子点赞操作
        .form-group
          label.checkbox-inline
            input(type='checkbox', ng-model='insAccount.config.follow.optAfterInfo.afterCommentStatus')
            span 评论后关注: 关注
            input.form-control.sort-input(type='number', ng-model='insAccount.config.follow.optAfterInfo.afterCommentMin')
            span 到
            input.form-control.sort-input(type='number', ng-model='insAccount.config.follow.optAfterInfo.afterCommentMax')
            span 以后,随机一个用户对帖子评论操作, 在前
            input.form-control.sort-input(type='number', ng-model='insAccount.config.follow.optAfterInfo.afterCommentTotal')
            span 条帖子中随机取(最大值6)
            input.form-control.sort-input(type='number', ng-model='insAccount.config.follow.optAfterInfo.afterCommentChoice')
            span 条帖子评论操作
        .content
          label 设置评论的文字(旋转语法)
          textarea.form-control.textarea(ng-model='insAccount.config.follow.optAfterInfo.afterCommentTxt')
        .form-group
          label.checkbox-inline
            input(type='checkbox', ng-model='insAccount.config.follow.optAfterInfo.afterMsgStatus')
            span 私信后关注: 关注
            input.form-control.sort-input(type='number', ng-model='insAccount.config.follow.optAfterInfo.afterMsgMin')
            span 到
            input.form-control.sort-input(type='number', ng-model='insAccount.config.follow.optAfterInfo.afterMsgMax')
            span 以后,随机一个私信操作
        .content
          label 设置私信的文字(旋转语法)
          textarea.form-control.textarea(ng-model='insAccount.config.follow.optAfterInfo.afterMsgTxt')

          //保存当前页面设置的按钮
        button.btn.btn-primary(ng-click='save()') 保存当前配置
